[2022-03-23 17:50] Jethro87 opened #490 "Add support for hint text"
Our app displays curated content in the form of rich text Q&A documents. We currently use hint text in empty text fields to help guide our users in completing the documents.

It would be great if the [hint text functionality in SuperTextField](https://github.com/superlistapp/super_editor/blob/main/super_editor/lib/src/infrastructure/super_textfield/infrastructure/hint_text.dart) would be extracted

[2022-03-23 18:33] kevmoo opened #491 "Ctrl+E & Ctrl+A support on Mac"
Only issue I hit hacking on the doc. I'm used to using

CTRL+E for end-of-line
CTRL+A for beginning-of-line

Would be great to have this support!

[2022-03-24 12:43] Patrick386 opened #492 "Support: Korean language"
**Flutter Web**
Thanks for the great package.
Korean language support is required

![스크린샷 2022-03-24 오후 9 14 36](https://user-images.githubusercontent.com/49754877/159918718-36f7454c-b301-4b81-a705-1a96147fb775.png)
.

[2022-03-24 13:48] Patrick386 opened #493 "Undefined class 'SpanRange'"
Flutter web
super_editor/example/.../example_editor/
_toolbar.dart code, I am getting compile error _Undefined class 'SpanRange'_ :

![스크린샷 2022-03-24 오후 10 32 16](https://user-images.githubusercontent.com/49754877/159930250-67abc2e1-a1a0-4fd1-b743-f2972c7d1c63.png)

[2022-03-24 20:35] matthew-carroll commented on #493
I'm not sure why you're seeing that compilation error. Try running `flutter clean` and `flutter pub get` in your project. `SpanRange` should be imported with the rest of `super_editor.dart`.

[2022-03-24 20:38] matthew-carroll commented on #491
Hey look, its @kevmoo! Welcome to the content-heavy side of Flutter!

I'm sure we can add these shortcuts as long as it doesn't conflict with default expectations. @bk-one what do you think?

[2022-03-24 20:40] bk-one commented on #491
Absolutely, one of my task is actually to check the full range of expected keyboard shortcuts and send you a list. So yeah, this should be done.

[2022-03-24 20:41] matthew-carroll commented on #480
Thanks for letting us know. We'll take a look.

[2022-03-24 20:44] matthew-carroll commented on #386
@miguelcmedeiros do you know if this is fixed now, or is it still a problem?

[2022-03-24 20:47] matthew-carroll commented on #238
@bk-one is this issue duplicated by #479 ?

[2022-03-24 20:49] bk-one commented on #238
I believe it is

[2022-03-24 21:04] matthew-carroll commented on #238
Ok, I'll close this issue as a duplicate of #479

[2022-03-24 21:04] #238 closed

[2022-03-24 23:09] #475 closed

[2022-03-24 23:32] miguelcmedeiros commented on #386
@matthew-carroll
Just checked and some components were missing some wiring to make it work.
Opened a PR to fix it.

[2022-03-24 23:52] miguelcmedeiros opened #496 "Extent selection position is incorrect when SuperEditor is placed inside a CustomScrollView"
Steps to reproduce:
* In "Sliver Demo Editor", select some text and move the selection extent

Expected: selection is painted from the base position till the extent position (close to cursor)
Actual: extent position is not correct
![ezgif com-gif-maker-10](https://user-images.githubusercontent.com/31278849/160028330-d80c50fb-0108-4882-8057-695ae2d09a32.gif)

[2022-03-25 00:50] #386 closed

[2022-03-25 08:29] HayesGordon commented on #269
Hi @bk-one, I'm really interested in this as well.

Something that would be nice to add in the interim is serialization for individual nodes, instead of the whole document.

[2022-03-25 13:06] bk-one commented on #269
@HayesGordon Happy to demonstrate the status quo - it does sync only changed nodes on the data layer, there are still some aspects required to also allow surgical updates to the in-memory document that SuperEditor is rendering. But we're getting there. I guess a package is at least another two or three months away, though.

[2022-03-25 16:14] Patrick386 commented on #493
Thank you.
I've tried several times, but I don't know the cause either.

[code]

[2022-03-25 17:25] venkatd commented on #460
Ok we'll take a 2nd look at this next week with an example application and record some videos. Want to understand if this is specific to our app or if it's super_editor related

[2022-03-25 20:03] matthew-carroll commented on #493
Did you open your IDE at the root `/` of the repo, or did you open the `/super_editor` sub-directory?

[2022-03-26 05:14] Patrick386 commented on #493
I'm just testing a sample.
Did the installation go wrong?
SpanRange < If you remove this part, it works.

import 'package:super_editor/super_editor.dart';

![스크린샷 2022-03-26 오후 2 10 01](https://user-images.githubusercontent.com/49754877/160225660-15baf87b-3f29-46a3-9a13-046c8d56cb32.png)

![스크린샷 2022-03-26 오후 2 00 56](https://user-images.githubusercontent.com/49754877/160225672-f86

[2022-03-26 08:48] agenthesh commented on #462
Was trying to figure this one out. The problem seems to be that the height of the Column in SingleColumnDocumentLayout is restricted, whereas the children (Document elements essentially) are unrestricted.

In [SingleColumnDocumentLayout](https://github.com/superlistapp/super_editor/blob/e545c895a08ff367a183822e32525d996e409389/super_editor/lib/src/default_editor/layout_single_column/_layout.dart#L

[2022-03-26 22:05] agenthesh commented on #496
So I was doing a bit of testing for this issue, and it’s a really weird one.

Basically the extent offset (as mentioned by @miguelcmedeiros) is calculated incorrectly when there is an ancestor ScrollView. The extent offset is grows exponentially as the size of the text in the editor increases (and thus the selection grows as well).

For example, with the default text in the editor, if we apply an

[2022-03-27 21:48] matthew-carroll opened #498 "De-dup physical keyboard handlers in document and SuperTextField"
There's a lot of overlap between the physical keyboard handling for documents and `SuperTextField`.

De-dup this behavior so that we're not maintaining identical, or nearly identical implementations.

[2022-03-27 22:04] matthew-carroll commented on #493
@Patrick386 I thought you were running the `example` app inside the `super_editor` repository. Are you trying to use `super_editor` in your own project? If so, can you show how you wrote the dependency in your pubspec file?

[2022-03-27 22:10] matthew-carroll commented on #490
@Jethro87 can you elaborate on what you're looking for with this ticket? You mentioned "We currently use hint text in empty text fields...", but then you mentioned "...extracted into super_editor".

Are you looking for hint text in a component that displays a paragraph in a `SuperEditor` document?

If so, we have a definition of that component in the example app. Are you saying that you'd like for

[2022-03-27 22:11] matthew-carroll commented on #481
@jhlabs any update on this?

[2022-03-27 22:12] matthew-carroll commented on #457
@venkatd - If you're also seeing web-specific mobile problems, please consider posting them here.

[2022-03-27 22:14] matthew-carroll commented on #453
@asa767 is funding this behavior something that you're interested in? If not, I'll close this ticket as something that's not on our current roadmap.

[2022-03-27 22:17] matthew-carroll opened #499 "Support IME on desktop"
Hardware keyboard handlers prevent `super_editor` from supporting various input modalities, e.g., auto-correction, emoji pickers.

There are also certain characters that don't work with Flutter's hardware keyboard support, for some reason, e.g., #348, #385.

To enable these capabilities, `super_editor` should add support for IME on desktop, similar to its IME support for mobile.

[2022-03-28 13:31] hillelcoren opened #501 "Problem using the SuperEditor with a TabBar"
When adding the editor to a TabBarView once the screen is filled with text the TabBarView automatically changes to the next tab rather than scroll down in the editor.

A related problem is when the editor is used on mobile in a TabBarView if the keyboard is shown it causes the tab bar to change to the previous tab.

Here's a simple example:

[code]

[2022-03-28 18:23] #481 closed

[2022-03-28 18:25] Jethro87 commented on #490
@matthew-carroll Closing this issue in place of the email I just sent, thanks.

[2022-03-28 18:25] #490 closed

[2022-03-29 03:02] venkatd commented on #457
@matthew-carroll sure thing. We're going to do a pass on Android and iOS native first, then catalog mobile-web problems once the Android/iOS issues are resolved.

[2022-03-30 23:25] venkatd opened #504 "[SuperTextField] [iOS] Text is entered in reverse order"
## Steps to reproduce
Code:
[code]

- Run the app
- Tap black rectangle (the text field)
- Type "abc" (can be done with physical keyboard or virtual keyboard)

## Actual behavior
While typing, the characters show up in reverse order like "cba"

https://user-images.githubusercontent.com/220686/160946830-6634be5b-5150-49c7-8ccb-82abdf0c0e09.mp4

## Expected behavior
The characters should show up in

[2022-03-30 23:49] venkatd opened #505 "[SuperTextField] [iOS] [Android] maxLines not respected on mobile"
## Steps to reproduce

Code:
[code]

- Run the app
- Tap black rectangle (the text field)
- Type more than 1 line of text to get the text to wrap

## Actual behavior
While typing, the text field stays the height of 1 line.

https://user-images.githubusercontent.com/220686/160948325-c40b394d-2a58-4a09-9b23-2e49e6513a44.mp4

## Expected behavior
The text field should grow to the height of 2 lines

#

[2022-03-31 00:45] lucasarcouto opened #506 "[SuperTextField] [Android] Backspace not working"
# Steps to reproduce
Code:
[code]
- Run the app
- Tap black rectangle (the text field)
- Type "abc"
- Try to delete using either physical or virtual backspace

# Actual behavior
When pressing backspace, it does not remove any characters

https://user-images.githubusercontent.com/3801761/160953565-3258cb8e-0286-41f7-aa67-5a4791f7f098.mp4

# Expected behavior
Every backspace press should remove a ch

[2022-03-31 01:10] lucasarcouto opened #510 "[SuperTextField] [iOS] [Android] Typed text not visible during typing"
# Steps to reproduce
Code:
[code]
- Run the app
- Tap black rectangle (the text field)
- Type more than 1 line of text

# Actual behavior
When user types a text longer than the widget's starting size, they won't be able to see what's being typed, because the text goes outside of the widget's boundaries.

https://user-images.githubusercontent.com/3801761/160955954-aeb8d2d7-2c37-4160-bcca-d17783e05a

[2022-03-31 01:51] matthew-carroll commented on #496
@agenthesh thanks for looking into this. I'll take your description and see what I can put together for a fix. If you have any great ideas writing effective tests for this, without a whole lot of complexity, please let me know.

[2022-03-31 03:33] matthew-carroll commented on #496
@agenthesh FYI - I tried making the same change that's in your "Selection fix within a SliverScrollView" commit that's linked above, and it didn't seem to have any impact on the sliver demo in the example app. The scroll position is still off. Was there more to your suggested fix?

[2022-03-31 11:22] agenthesh commented on #496
Sorry, I did try to write tests for it, but I couldn't get anything concrete together for it. And yeah, tested it again after pulling your changes, and it's stopped working. On a maybe related note: I cannot seem to debug the code anymore after pulling your changes. Do you know what the cause could be? Seems to be related to this as well

[2022-03-31 23:09] matthew-carroll commented on #496
@agenthesh I've been making changes to project dependencies to make the new mono repo work. Unfortunately, every attempt solves one problem and creates another. At the moment, in my local repo for development, I changed the pubspec dependencies in `super_editor_markdown` and the `super_editor` example app to use relative paths, instead of the Git paths.

The problem with the Git paths is that they

[2022-04-01 01:31] matthew-carroll commented on #496
I think I've confirmed that the root cause of this issue are the changes I made in this PR: https://github.com/superlistapp/super_editor/pull/450

By reverting those changes, the embedded scrolling seems to work OK, but it breaks regular autoscrolling again. So I need to figure out what the correct original solution should have been.

[2022-04-01 02:14] matthew-carroll commented on #496
I believe I've solved the problem, though I'm still not entirely sure why the fix is necessary. I'm going to experiment with creating some tools to help visualize scrolling for debug purposes, and also possibly break the auto-scroller away from the doc selection. I'll aim to have a PR up sometime tonight, regardless of my progress on tooling.

[2022-04-01 04:08] siuvoniazzi opened #512 "Errors after typing brackets in Chrome (Windows) with Swiss Keyboard (German)"
Test with SuperEditor 0.2.0, Flutter stable

![image](https://user-images.githubusercontent.com/9570323/161192115-8c4b1913-de3b-4367-8b7c-93be7f4cc9a1.png)

After typing brackets I can't write in SuperEditor anymore. Every key stroke then produces this error.

======== Exception caught by services library ======================================================
The following assertion was thrown dur

[2022-04-01 22:55] zurbrandon commented on #479
hello

[2022-04-05 05:06] matthew-carroll commented on #462
Update: I noticed that the mobile document overlay control goldens are broken (we're not currently running goldens in CI). When I inspected the golden failures, the test documents were no longer vertically centered. I put a border around the document and found that the document was expanding to fill the space. These golden failures might be caused by the same issue that's effecting the demo site.

[2022-04-05 05:26] #496 closed

[2022-04-05 05:35] matthew-carroll opened #520 "Change SuperSelectableText to use layers for multi-user selections"
Change SuperSelectableText to use layers for multi-user selections.

Superlist needs to display multiple user selections at the same time. To prepare to support this ability, define a `SuperText` widget that displays layers above and below the text, and then use `SuperText` to implement `SuperSelectableText`.

[2022-04-05 06:04] ThangVuNguyenViet commented on #406
Hi @matthew-carroll , I would love to work on this. As I understood, this requires getting the text from the clipboard, then checking for a valid url. If it is, then add the LinkAttribution to the attributions set of the to be inserted text.

For validating the url, I'll check if it has a scheme, as it is quite similar to what google doc is doing I think

[2022-04-05 15:37] miguelcmedeiros opened #521 "[Mobile] Auto-scroll does not work when document is placed inside a CustomScrollView"
Steps to reproduce:
* Update "Sliver Demo Editor" so that it works on iOS:
[code]
* Select a paragraph that is located at the bottom of the viewport

**Expected:** keyboard is shown and the document auto-scrolls to show the selection (caret)
**Actual:** document does not auto-scroll and selection is hidden by the keyboard

[2022-04-05 15:37] miguelcmedeiros commented on #521
Cc @matthew-carroll

[2022-04-06 02:25] ThangVuNguyenViet commented on #489
hi @matthew-carroll . Thanks for assigning this to me

[2022-04-06 03:55] mrverdant13 opened #523 "Potential bug in the `CaretBlinkController` implementation"
I am reviewing the `super_editor` repo to get familiar with it, and I have found a couple of potential issues with the `CaretBlinkController` in the following places:

- https://github.com/superlistapp/super_editor/blob/main/super_text/lib/src/caret.dart#L299-L302
  Where a `notifyListeners` call is missing after setting `_isVisible` to `true`.

[code]

- https://github.com/superlistapp/super_edit

[2022-04-06 05:42] ThangVuNguyenViet commented on #486
Hi @hillelcoren . I couldn't get it reproduced. Can you provide code snippet or more information about this?

[2022-04-06 05:46] hillelcoren commented on #486
Hi, thanks for looking into the issue!

I'm not sure, in the screenshot above I'm using a row which contains multiple Scaffolds. Maybe it's related?

[2022-04-06 06:00] ThangVuNguyenViet commented on #486
[code]

The code snippet above still doesn't produce the issue. It is modified from the `example_editor.dart` file. Do you mind giving me the widget's hierarchy related to this?

[2022-04-06 06:09] ThangVuNguyenViet commented on #486
@hillelcoren do you have multiple editors on one screen? That could potentially lead to the issue.

[2022-04-06 06:10] hillelcoren commented on #486
Yes, we're using two editors in a column.

[2022-04-06 06:24] ThangVuNguyenViet commented on #486
It is true that the location of the toolbar is incorrect when having multiple editors on a screen, and your solution does fix that.

Is there any issue you're having with the toolbar's location when using the solution you found?

[2022-04-06 06:27] hillelcoren commented on #486
Not that I'm aware of.

Thanks for tracking down the issue.

[2022-04-06 11:56] ThangVuNguyenViet commented on #521
Hi @matthew-carroll . I think I can work on this. Please assign it to me

[2022-04-06 12:05] miguelcmedeiros opened #525 "[Mobile] Selection handles are not easy to "grab" when the document is inside a CustomScrollView"
Steps to reproduce:
* Update "Sliver Demo Editor" so that it works on iOS:
[code]
* Double-tap on a word to select it
* Drag one of the selection handles to change the selection

**Expected:** selection changes
**Actual:** document scrolls

https://user-images.githubusercontent.com/31278849/161970539-9406b176-bbe5-4eac-b850-f14f1d6fcc18.mp4

[2022-04-06 12:05] miguelcmedeiros commented on #525
Cc @matthew-carroll

[2022-04-07 01:20] GarettCooper opened #526 "Markdown serialization cannot handle attributions which share a starting index but end in different places"
I spent a while trying to think of a title, this was unfortunately the best I could come up with.

Currently, the way attributed text to markdown serialization works is that at each point where the set of attributes changes, the serializer inserts the characters used to delimit that markdown formatting for *all* of the attributes on that text.

This works just fine for one off styles:
| Super Edit

[2022-04-07 01:38] GarettCooper commented on #526
#518 includes two (skipped) tests for this issue's resolution.

[2022-04-07 05:56] matthew-carroll commented on #526
Thanks for filing this @GarettCooper

[2022-04-07 23:11] #486 closed

[2022-04-08 05:50] ThangVuNguyenViet commented on #521
Hi. I've made some progress but got stuck at this.

So this issue occurs when there are some slivers widgets that are above the editor in the `CustomScrollView`, which makes the original scrolling offset computation isn't correct anymore. The height of all those widgets is called X.

My approach is to get the X. By that, I got the offset from the editor to its parent `Scrollable` and pass it down

[2022-04-08 06:47] ThangVuNguyenViet opened #528 "[Mobile] Soft keyboard doesn't appear on mobile devices when selecting a paragraph"
Step to reproduce: selecting a paragraph in an editor that is not the Editor Demo in `example_editor.dart`, e.g Sliver Editor Demo, Markdown Serialization Demo

Expected: Soft keyboard appears.

Actual: Soft keyboard doesn't appear. On Android emulator, it's still able to type letters. On iOS Simulator, no letter can be typed, and when pressing any keyboard, 'F' for example, this log is shown:

`

[2022-04-08 12:07] ThangVuNguyenViet commented on #528
Does anyone have the same issue though? Sometimes I doubt it only occurs on my device

[2022-04-08 18:01] venkatd opened #529 "[SuperTextField] [web] Support IME input on desktop web"
@matthew-carroll

We would be interested to sponsor or co-sponsor IME input for Flutter web

Below is a video that shows TextField in action. It lets me use IME input to insert emojis. So we might be able to take a look at their implementation for inspiration.

We have had users complain about quote characters on various international keyboards and it would be the cleanest to allow entry in this w

[2022-04-09 02:21] matthew-carroll commented on #529
Hi @venkatd - can you describe the individual details that would constitute "mobile web support" for `SuperTextField`?

[2022-04-09 02:28] matthew-carroll commented on #521
@ThangVuNguyenViet you mentioned where you got stuck, but what is it that has you stuck? It sounds like you found a couple places where things still don't work, like `SliverAppBar` and `FlexibleSpaceBar`, as well as issues while scrolling is happening. What kinds of things have you tried in order to resolve those issues? Where's the specific point of confusion?

[2022-04-09 15:41] venkatd commented on #529
Hi @matthew-carroll I'll start adding them here as individual issues: https://github.com/superlistapp/super_editor/discussions/527

This ticket is not related to mobile web support, but improved support in "desktop web support". I'd consider this a different milestone.

So our users can enter accents, emojis, and other special characters.

[2022-04-09 22:03] matthew-carroll commented on #529
Ah, ok, I guess I read the title too fast. Are these bug fixes, or new features? Because we already have a milestone for SuperTextField bugfixes.

[2022-04-10 05:16] ThangVuNguyenViet commented on #528
Ah nevermind. I forgot to add the `inputSource: DocumentInputSource.ime` and `gestureMode: DocumentGestureMode.iOS`

[2022-04-10 05:16] #528 closed

[2022-04-10 05:18] ThangVuNguyenViet commented on #521
@matthew-carroll thank you for replying. I figured it out. My solution above works. I'm gonna make the PR shortly after

[2022-04-10 07:25] ThangVuNguyenViet commented on #521
@matthew-carroll I'm trying to test with goldens, but I cannot show the keyboard. I've tried tapping the document and then `focusNode.requestFocus()` but it doesn't seem to work. The red caret does appear on the image file, but since the keyboard doesn't show, no scrolling is performed.

[2022-04-10 18:20] CillianMyles opened #531 "[SuperDesktopTextField] collapse text selection on ESC pressed"
`SuperEditor` handles the following scenario (desktop):
- User opens a document with content
- User highlights some text
- User presses `ESC` key
- Text selection is collapsed

`SuperDesktopTextField` does not automatically handle this scenario.

I propose to add a `TextFieldKeyboardHandler` to the `defaultTextFieldKeyboardHandlers` in `desktop_textfield.dart` to handle this scenario by default fo

[2022-04-10 22:29] matthew-carroll commented on #521
@ThangVuNguyenViet we aren't currently running the golden tests on CI, so I would focus on a widget test, if you can. Typically, with tests around scrolling, a widget test will carefully pump a specific number of frames, with a specific change in time, and then verify that the final scroll offset is what's expected. Can you give that a try?

[2022-04-10 22:32] matthew-carroll commented on #531
@CillianMyles can you describe the various other places in a desktop environment where this behavior occurs? I poked around a couple places and I see conflicting results. For example, if I select the URL at the top of my browser and press ESC, nothing happens. On the other hand, if I select some text in this GitHub text area and press escape, then the selection collapses to the base of the selecti

[2022-04-11 11:43] letungcntt opened #532 "SuperDesktopTextField need support IME Vietnamese"
By TextField, the IME working. SuperDesktopTextField, the problem has existed

https://user-images.githubusercontent.com/46608407/162732197-bd0d6ef6-523e-497a-b84e-0527fbf4aa56.mov

[2022-04-11 11:46] letungcntt commented on #532
I'm using Vietnamese - Simple Telex and typed xin␣chaof␣ in a text field, which managed to display "xin chào ".

[2022-04-11 14:35] ThangVuNguyenViet commented on #521
@matthew-carroll I'm still blocked at getting the keyboard to show. As far as I know, this couldn't be done with widget testing. Please tell me if you know how to show the keyboard or any way to mimic the keyboard showing behavior.

Meanwhile, I'm gonna create a PR for this without any testing. I'll add the test once we figured that out

[2022-04-11 19:05] venkatd commented on #529
This would be a new feature, so it wouldn't fall under SuperTextField bugfixes.

It's equivalent to https://github.com/superlistapp/super_editor/issues/499 except for the web platform.

I think it would involve integrating with a native html text input in the browser. I tried typing some text in a Flutter TextField and they have some ghost html element positioned over the textfield.

<img width="1

[2022-04-11 22:47] matthew-carroll commented on #521
@ThangVuNguyenViet I'm not sure why the keyboard is relevant? When you run a widget test, there is no device at all, so there's never a keyboard.

[2022-04-12 19:22] matthew-carroll commented on #529
@venkatd I filed a milestone here: https://github.com/superlistapp/super_editor/discussions/535

[2022-04-12 19:50] matthew-carroll commented on #521
@ThangVuNguyenViet the question you should ask is what it means to Flutter when the keyboard is raised. You don't need the platform and the keyboard to test the Flutter UI behavior related to the keyboard.

Here are a couple guiding questions that you should look into:

- Does this situation actually depend on the keyboard, at all, or does it only depend on the available space becoming smaller?
-

[2022-04-12 20:08] #479 closed

[2022-04-12 20:08] #491 closed

[2022-04-13 12:24] Patrick386 commented on #493
I want to use super_editor in my project.
The goal is to add the ability to insert images to the toolbar.

**Pubspec file**

[code]

[2022-04-13 14:37] CillianMyles commented on #531
Sorry for the delay but wanted to give this one some time to investigate :-)

| app | category | platform tested | field | supports rich text (Y/N) | collapses (Y/N) | notes |
|---|---|---|---|---|---|---|
| Firefox | browser | macOS | URL input field | N | N |  |
| GitHub | website | macOS | issue/PR description field | Y | Y |  |
| Slack | chat app | macOS | message input field | Y | N | caret i

[2022-04-13 15:50] orestesgaolin opened #536 "[Bug] Text selection behaves oddly when caret is shown"
# Steps to reproduce

1. Go to https://superlist.com/SuperEditor/
2. Place a caret inside of the main editor
3. Select a text starting from a first line
4. Observe the content up to the end to be selected

https://user-images.githubusercontent.com/16854239/163219738-7df2f8b7-856a-422f-980a-24b79ad80b05.mp4

**Expected behavior**

The text should start being selected from the mouse down point

http

[2022-04-13 21:38] matthew-carroll commented on #493
@Patrick386 if you create a brand new Flutter project and you add `super_editor: ^0.2.0` to your pubspec, do you still have this problem? Also, can you make sure that your Flutter stable channel is up to date?

[2022-04-13 21:41] matthew-carroll commented on #531
I think that for now I'd leave this up to app developers. One of our primary goals is to provide tools that make it relatively easy to configure your own editing experience, rather than shipping a single, massively configurable solution. If you think that we have APIs that make this difficult for our users, please let me know.

At some point in the future, if we want to ship a collection of option

[2022-04-14 05:44] Patrick386 commented on #493
Yes, I created and tested a new project, but it's the same

[code]

![화면 캡처 2022-04-14 144209](https://user-images.githubusercontent.com/49754877/163321332-d77fc1fe-d2ba-4f08-a374-07d6636bfb2a.png)
.

[2022-04-14 05:53] matthew-carroll commented on #493
Does your screenshotted file include `import "package:super_editor/super_editor.dart"`?

If so, can you also try explicitly adding `attributed_text` to your pubspec?

`attributed_text: ^0.2.1`

and then

`import "package:attributed_text/attributed_text.dart"`

[2022-04-14 06:12] Patrick386 commented on #493
An additional problem has arisen.

[code]

[code]

![화면 캡처 2022-04-14 151050](https://user-images.githubusercontent.com/49754877/163324540-970860df-062a-4a71-8e49-7a1c00fb6c25.png)

[2022-04-14 06:51] ThangVuNguyenViet commented on #521
@matthew-carroll your guidance is really helpful. It depends on the available space becoming smaller. Thanks a lot.

I minimize the space using `tester.binding.window.physicalSizeTestValue` since it changes the viewport and also calls 'didChangeMetrics`, which is the trigger for ensuring caret is visible. Please take a look at my PR of which tests have been added.

Btw, I tried changing the outer

[2022-04-14 07:20] matthew-carroll commented on #493
That looks like an issue in your code. Did the name resolution problem go away?

[2022-04-15 21:44] matthew-carroll opened #537 "Layout text decoration on same frame as text"
We're working on extracting `SuperSelectableText` into a new package, called `super_text`, where `SuperSelectableText` will become a widget called `SuperText`. That work is taking place in #534.

While extracting `super_text`, we'd like to solve the problem where painting a selection and caret always happen one frame after text layout. This is because we're only utilizing the widget tree, and the

[2022-04-15 21:45] matthew-carroll commented on #537
CC @slightfoot

[2022-04-15 22:59] matthew-carroll commented on #460
@venkatd can you let us know if this issue is still happening? If it is, it might be specific to a `SuperTextField`, rather than document editing, and it might even be specific to one of the platform implementations for `SuperTextField`. Please let us know where you're able/unable to reproduce the issue.

[2022-04-15 23:01] matthew-carroll commented on #275
@creativecreatorormaybenot can you try again with the latest version of `super_editor`? We recently merged some PRs related to word/line selection.

Also, can you explain which key `Pos1` refers to?

[2022-04-15 23:03] matthew-carroll commented on #536
@orestesgaolin does this behavior happen in the `super_editor` example app document?

It looks like you're screen-cap'ing the Super Editor website. We have known issues with that particular demo.

[2022-04-15 23:05] matthew-carroll commented on #532
This problem isn't specific to Vietnamese - the desktop version of `SuperTextField` doesn't an IME at all. It uses a hardware keyboard integration. Therefore, it's working as intended.

We're in the process of integrating IME support for desktop use-cases. If this is still a problem after we merge those changes, then please re-open an issue.

[2022-04-15 23:05] #532 closed

[2022-04-15 23:06] matthew-carroll commented on #531
I'm going to close this issue based on the above discussion. If you see opportunities for API improvements to make it easier to customize such behavior, please let me know.

[2022-04-15 23:06] #531 closed

[2022-04-15 23:09] matthew-carroll commented on #512
@siuvoniazzi can you please report this to Flutter, as mentioned in the error output that you included?

[2022-04-16 11:31] orestesgaolin commented on #536
Thanks for the response. Yes, it was the website. I tried to check it on macOS using example application, but at first I was getting spammed by assertion errors when trying to run it
[super_editor_example_log.txt](https://github.com/superlistapp/super_editor/files/8499808/super_editor_example_log.txt)

If I disable breakpoints on uncaught exceptions I can run it mostly fine
<img width="224" alt="s

[2022-04-16 11:31] #536 closed

[2022-04-16 22:27] matthew-carroll commented on #536
@orestesgaolin can you post your Flutter version output related to those assertion errors?

[2022-04-19 06:38] Patrick386 commented on #493
I'll remove that part and make a toolbar that suits me.
We'll let you know if there's a problem.

[2022-04-19 16:20] venkatd commented on #460
@matthew-carroll it's happening on the latest on master. I can reproduce on MacOS and Web for SuperTextField.

Code here:
[code]

Steps to reproduce:
* Run the app
* Hit tab to focus the textfield
* Start typing "asdfasdfasdfasdf..." very quickly
* The cursor continues to blink while typing

Expected behavior: the cursor should be solid

Video of MacOS:
https://user-images.githubusercontent.com/22

[2022-04-19 16:33] venkatd commented on #459
@matthew-carroll confirming that this still happens on the latest and we'd still be willing to sponsor a fix here.

Updating the code to have a set fontSize:

[code]

A single emoji character causes a crash when we focus the textfield. If I add a non-emoji character after it such as `AttributedText(text: '🐢e')`, then things work as expected unless I hit backspace to get to a single emoji character

[2022-04-19 19:33] slightfoot commented on #537
I am here

[2022-04-22 15:51] miguelcmedeiros opened #538 "Caret gets misplaced when resizing (width) the app window"
Steps to reproduce:
* Place the editor with some content on the sides (e.g. a sidebar on the right side of the editor)
* Place the caret somewhere in the document
* Resize the width of the app window

Expected: caret position is updated to match the current selection
Actual:

https://user-images.githubusercontent.com/31278849/164749483-7606cd10-282d-4454-85a5-042e5bcb88e1.mov

[2022-04-22 15:51] miguelcmedeiros commented on #538
Cc @matthew-carroll

[2022-04-23 10:27] britannio commented on #444
@matthew-carroll Is there anything I can do to further diagnose this?

[2022-04-26 01:07] matthew-carroll commented on #444
@britannio one thing that would help is a comparison of deltas that Flutter sends us on Android vs iOS. You should be able to take a given sentence and type that sentence on both platforms in a `SuperEditor` and then grab the deltas from the logs. If we find that Android is sending a lot more deltas, then that might be part of the problem.

[2022-04-27 21:47] matthew-carroll commented on #493
This issue seems to be resolved, so I'm going to close it.

[2022-04-27 21:47] #493 closed

[2022-05-01 02:12] matthew-carroll opened #540 "[BUG] AttributedTextEditingController removes all composing attributions when it should only remove some"
`AttributedTextEditingController` has a method called `removeComposingAttribution()`, which removes a `Set` of `Attribution`s from the controller's "composing attributions".

The implementation of this method inadvertently removes all composing attributions every time.

A line inside the method reads:

`_composingAttributions.removeWhere((attribution) => _composingAttributions.contains(attribution

[2022-05-02 02:40] matthew-carroll opened #541 "Make stylesheets refreshable, and add an example with different background color and font"
When the `stylesheet` changes on a `SuperEditor`, the presentation doesn't re-run, so hot-reload doesn't reflect the changes. Fix this.

Also, implement a light mode/dark mode toggle in the example editor to show that stylesheets can change font color.

[2022-05-02 04:05] matthew-carroll opened #543 "Maintain composing region during document editing"
When editing a document via IME, the document/IME synchronization behavior appears to be losing the composing region. Without the composing region, we can't support multi-key character entry, e.g., ñ.

Update the synchronization behavior to retain the composing region, and add tests to ensure this doesn't regress.

[2022-05-02 08:54] #541 closed

[2022-05-02 10:43] creativecreatorormaybenot commented on #275
@matthew-carroll I tried it at https://superlist.com/SuperEditor/ again and it is still the same (broken) behavior.

`Pos1` is the `Home` key on (maybe German) Windows keyboards. I cannot see `Pos1` on my keyboard either, but I mean the button that says `Home`.

[2022-05-03 06:55] matthew-carroll commented on #275
@creativecreatorormaybenot the version on the website shouldn't be used for any verification. Please use the example app in the repo on the `main` branch.

[2022-05-03 09:29] angelosilvestre commented on #540
Hello @matthew-carroll. I can work on this issue

[2022-05-03 12:25] creativecreatorormaybenot commented on #275
@matthew-carroll The `super_editor/example` app does not compile on any Flutter channel:

[code]

[2022-05-03 17:49] matthew-carroll commented on #275
@justinmc - Did Flutter end up shipping those new text input client APIs to stable?

[2022-05-03 23:31] matthew-carroll opened #546 "Combine DragHandleAutoScroller into AutoScroller"
We have a generic auto-scrolling object called `AutoScroller`. It contains methods for animating scrolling over time.

We also have `DragHandleAutoScroller`, which, despite the name, doesn't have an API that's specific to drag handles.

I think that `DragHandleAutoScroller` should be merged into `AutoScroller` as a generic auto-scrolling solution.

Also, add appropriate tests for the auto-scroller

[2022-05-06 18:57] faithoflifedev commented on #480
Hi @ltOgt ,

I took a look through the code in both of the files you identified.  First:
https://github.com/superlistapp/super_editor/blob/354a86fa0b5dc2e7c70d17dc3cb8a403683cd8fc/super_editor/lib/src/core/document_editor.dart#L320-L328

The `hashCode` is not using `DeepCollectionEquality`

And it's the same for the second case:
https://github.com/superlistapp/super_editor/blob/354a86fa0b5dc2e7c70

[2022-05-06 21:16] matthew-carroll commented on #489
I'm re-opening because @hillelcoren says that deserializing doesn't recognize links. @GarettCooper is this something you'd like to look into, based on your original work on the PR that handled the serialization?

[2022-05-06 21:28] matthew-carroll commented on #480
@faithoflifedev can you point to the specific place that says the `hashCode` shouldn't be adjusted for the deep collection equality? I didn't see that in the provided link...

[2022-05-07 07:28] ThangVuNguyenViet commented on #546
Hi @matthew-carroll . I took a look and find that "assigning and unassigning" the `scrollPosition` in the `AutoScroller` is a bit redundant. I briefly "merge" the two classes and it seems to work with getting the `scrollPosition` directly from the method. Is there anything special with the "assigning and unassigning" thing? Or else we should remove it.

BTW, should a PR for this issue depends on #

[2022-05-07 15:10] faithoflifedev commented on #480
@matthew-carroll , I felt it was implicit in the description and example.

It's my understanding that the potential bug comes from using either a `MutableDocument` or `AttributedSpans` objects as keys in a `Map` due to the fact that the `hashCode` getter is used as part of the `Map` key generation.

In brief, if it's agreed that two `MutableDocument` instances with the same content should be consi

[2022-05-09 19:59] matthew-carroll commented on #480
@faithoflifedev - Ok, so the question is whether we want `Document`s and `AttributedText`s to be de-duplicated in a `Set` or `Map` when their content is equivalent. For `Document`s we definitely don't want that. For a moment I thought `AttributedText` would make sense to do that, but `AttributedText` is mutable, so that's probably not a good idea. We may create an immutable version of `AttributedT

[2022-05-09 19:59] #480 closed

[2022-05-09 20:01] matthew-carroll commented on #546
Please don't work on this yet. I haven't decided for sure what should happen here. I'll tag you on any issue that I'd like to assign, or you can reach out about a ticket that you think you should work on.

[2022-05-09 20:04] #521 closed

[2022-05-09 20:18] #540 closed

[2022-05-09 22:58] GarettCooper commented on #489
@matthew-carroll Sure, looks like it should be pretty straighforward

[2022-05-10 00:59] jmatth opened #549 "[SuperEditor] Drag to select skips one character in the upstream direction"
When creating a text selection in the upstream direction with the mouse, the selection base will start one character further upstream than expected. See the below video for a couple examples:

https://user-images.githubusercontent.com/1316184/167518847-9ce9baae-b543-4d26-bba6-16910809a8e3.mov

I tracked the cause down to the the following line in [`text.dart`](https://github.com/superlistapp/super

[2022-05-10 16:48] miguelcmedeiros opened #551 "CMD + ←/→ arrow and OPTION + ←/→ arrow are not changing the selection as expected"
As can be seen in the following video, there are a keyboard shortcuts used to change text selection that are not working as expected in a document:
https://user-images.githubusercontent.com/31278849/167680302-ac4cdfaa-9fe2-4661-a005-78e0ec243b80.mov

This includes:
* CMD + ←
* CMD + SHIFT + ←
* OPTION + ←
* OPTION + SHIFT + ←
* CMD + →
* CMD + SHIFT + →
* OPTION + →
* OPTION + SHIFT + →

[2022-05-10 16:48] miguelcmedeiros commented on #551
Cc @matthew-carroll

[2022-05-11 17:43] creativecreatorormaybenot commented on #275
@matthew-carroll I was able to build now.

The current behavior is now _completely_ broken as in `CTRL`, `Home`, and `End` have no effect at all on Windows. It behaves as if I was just pressing the arrow keys.

[2022-05-11 21:20] matthew-carroll commented on #275
@chimon2000 can you take a look at this behavior on Windows and see if you can determine what we should do to support this ticket?

[2022-05-12 04:25] matthew-carroll commented on #538
@miguelcmedeiros do you know if that content on the side is relevant to the bug? Does the caret reposition correctly when there's no content on the side?

[2022-05-12 04:29] matthew-carroll commented on #442
I'm going to close this due to inactivity. If someone would like additional APIs to help with character boundaries, please file a ticket with those specific goals.

[2022-05-12 04:29] #442 closed

[2022-05-12 04:32] matthew-carroll commented on #86
Done in #487

[2022-05-12 04:32] #86 closed

[2022-05-12 04:33] matthew-carroll commented on #106
I think this has worked for a while. Re-open if not.

[2022-05-12 04:33] #106 closed

[2022-05-12 04:38] matthew-carroll commented on #351
@miguelcmedeiros @bk-one what should those buttons do? I don't know what the standard caret movement rules are for those keys, or scrolling rules when there is no caret position.

[2022-05-12 04:41] matthew-carroll commented on #350
@miguelcmedeiros  Let's have Escape collapse the selection.

@ThangVuNguyenViet would you like to take on this ticket? When the ESC key is pressed on a hardware keyboard, a `SuperEditor` should respond by collapsing an expanded selection, or doing nothing if the selection is already collapsed. This change should include appropriate tests.

[2022-05-12 04:44] matthew-carroll commented on #376
@osaxma does the tapping issue still occur? `SuperEditor` should place the caret at whichever position is closest to the tap location.

[2022-05-12 04:46] bk-one commented on #351
@matthew-carroll I think the names are pretty self-explanatory. However, I also don't think that the implementation is very important. So we might want to split this into various action items:
- [ ] 1. Make sure the keys do not produce question-mark-box characters
- [ ] 2. Implement page-up and page-down to scroll one full viewport length up or down. The caret stays at its current position and is

[2022-05-12 04:50] matthew-carroll commented on #406
@ThangVuNguyenViet would you like me to assign this ticket to you as well?

`super_editor` already supports link attributions, and I think it supports link recognition, too, so there must be something special about this situation. If you want to work on this, you should start by inspecting the existing code related to links to make sure you don't re-implement existing behavior.

[2022-05-12 04:50] matthew-carroll commented on #417
@MarcelKaeding is this still a bug?

[2022-05-12 04:52] ThangVuNguyenViet commented on #350
@matthew-carroll sure, I'd love to work on this

[2022-05-12 04:55] matthew-carroll commented on #351
@faithoflifedev - would you like to try to implement Page Up, Page Down, Home, and End keyboard handlers for the `SuperEditor` widget?

[2022-05-12 04:59] ThangVuNguyenViet commented on #406
@matthew-carroll could you specify what's link recognition? Does that mean converting an URL text into a link on typing and/or copying?

[2022-05-12 05:00] matthew-carroll commented on #406
Yeah, link recognition means recognizing a URL in text. There's already some behavior for this in `super_editor`. You'll want to start there and see what makes sense to satisfy this ticket.

[2022-05-12 05:01] matthew-carroll commented on #501
@hillelcoren can you provide a video of these two bugs in action? I'm not entirely sure what you're describing.

[2022-05-12 05:05] matthew-carroll commented on #538
@angelosilvestre would you like investigate this issue and try to implement a fix? We'll want some tests that reproduce this problem, too.

[2022-05-12 06:05] ThangVuNguyenViet commented on #406
I couldn't find any existing behavior related to link recognition. I'm still not sure what this ticket should result in. How about we discuss some test cases as acceptance criteria for this ticket:

- When a text 'https://flutter.dev' is selected, choosing the link option should convert the selected text into a link.
- When the handle is at the last position in the text 'https://flutter.dev' (coul

[2022-05-12 08:01] britannio opened #553 "Flutter 3 support"
`_DocumentImeInteractorState` and `ImeAttributedTextEditingController` are missing implementations of the following methods:
 - TextInputClient.insertTextPlaceholder
 - TextInputClient.removeTextPlaceholder
 - TextInputClient.showToolbar

Additionally, `WidgetsBinding.instance` and `GestureBinding.instance` are now non-nullable so the null-aware operation `!` need not be used.
[code]

[2022-05-12 08:11] miguelcmedeiros commented on #538
Correct, this only happen when `SuperEditor` does not take the full width of the window (e.g. app uses has a sidebar menu instead of a drawer menu).

[2022-05-12 08:14] britannio commented on #553
`dart fix --apply` will remove the unnecessary `!` operations. `dart fix --dry-run` will determine all changes without applying them.

[2022-05-12 08:46] matthew-carroll opened #554 "Fix deprecations that showed up in Flutter 3"
Flutter 3, the latest stable version, deprecated some APIs that are used in `super_editor`. Go through and refactor those uses, as needed.

[2022-05-12 09:01] matthew-carroll opened #555 "Fix broken keyboard auto-scroll test after Flutter 3 upgrade"
The upgrade to Flutter 3 caused a mysterious change to the expected scroll position within the keyboard auto-scroll tests.

I imagine that this difference could be caused by a change in the Ahem font, a pixel density change, or some other minor visual change that impacts our test.

Find what caused the breakage, fix the tests, and attempt to update the tests so that a similar breakage doesn't happ

[2022-05-12 09:14] #551 closed

[2022-05-12 09:45] angelosilvestre commented on #538
@matthew-carroll for sure, I would like to do this

[2022-05-12 09:46] ThangVuNguyenViet commented on #555
Sure. I'll work on that

[2022-05-12 11:41] hillelcoren commented on #501
I've retested using the editor in tabs, I'm no longer able to reproduce the issue above but I'm seeing this error in the console.

[code]

[2022-05-12 13:00] faithoflifedev commented on #351
I'll take a look and let you know if it's something I can handle.

On Thu, May 12, 2022, 00:55 Matt Carroll ***@***.***> wrote:

[2022-05-12 15:59] And96 opened #557 "Heavy lag on website"
On https://editor.superlist.com/

[2022-05-12 16:06] faithoflifedev commented on #351
@matthew-carroll I have some initial code that covers step 1.  Currently, when a user presses any "F" key, the question-mark-box will be displayed, so the code covers all "F" keys.

[code]

For step 2 and beyond, it looks like things get more complicated.  I'm not yet clear on how the "caret" state would be added to the application

[2022-05-12 17:05] chimon2000 commented on #275
@matthew-carroll what i am seeing on Windows:
- CTRL + Arrow keys cursor navigates to the end of the line
- ALT + Arrow Keys cursor navigates to the end of the next word

In both cases, the text is not selected.

**Environment**

Windows 11
Flutter 3.0

[2022-05-12 20:50] matthew-carroll commented on #501
@hillelcoren is that problem caused by the widget tree you originally posted? Does it happen immediately upon loading the UI?

[2022-05-12 22:08] matthew-carroll commented on #406
There is no "link option" in `SuperEditor`. I think you're referring to the example app.

Yes, I think that makes sense.

Yes, I think this should happen, too.

[2022-05-12 22:11] matthew-carroll commented on #351
@faithoflifedev - I don't have the specifics off the top of my head, but the `EditContext` should give you access to the `DocumentLayout`, which is probably needed to calculate how far to scroll, and it also provides access to the `DocumentComposer`, which holds the current document selection.

If you believe you need access to other capabilities, please describe the specifics.

[2022-05-12 22:12] matthew-carroll commented on #275
@chimon2000 I think @creativecreatorormaybenot was referring to the HOME and END keys. Can you two align on what the specific issue is here?

[2022-05-12 22:23] faithoflifedev commented on #351
@matthew-carroll , it's possible I don't have a good enough understanding of the Document model/workflow.

My understanding for caret navigation is the user first presses the activation/deactivation key (in a browser that's F7) to put the application into or out of caret navigation mode, after this additional keys are used for the actual navigation (arrow keys, home, end page-up/down, etc).

So fo

[2022-05-12 23:28] angelosilvestre commented on #538
@matthew-carroll  After some initial investigation I found that the `BlinkingTextCaret` is not rebuilt after window resizing, causing it to maintain the old `caretOffset`.

Putting a call to `MediaQuery.of(context)` in the `BlinkingTextCaret`'s build method or wraping the `BlinkingCaret` that is returned with a `Builder` forces the widget to rebuild when size changes and solves the issue.

Is ther

[2022-05-12 23:37] faithoflifedev commented on #351
@matthew-carroll , it looks like I don't have a good enough understanding of the functionality required for the use cases for steps 2 and beyond.

Looking back at the original issue, the problem I seem to have is with "Place the caret anywhere in a paragraph node".  I originally understood this as placing the document in "caret navigation" mode as could be done by pressing F7 in a browser like Chr

[2022-05-12 23:57] matthew-carroll commented on #538
We definitely don't want to reference `MediaQuery` from the caret. Where is the caret currently getting its offset? If someone is already giving the caret an offset, then it would seem logical to have that thing send the appropriate, updated offset.

[2022-05-12 23:59] matthew-carroll commented on #351
I think the concept of caret navigation mode can be ignored. I wasn't even aware that was a thing. Whenever I've used Page Up and Page Down, I've done so directly, without pressing any function keys.

I think the goal right now is to implement the 4 checkboxes that Ben enumerated above.

[2022-05-13 00:00] angelosilvestre commented on #538
The offset is calculated inside `_BlinkingTextCaretState` based on the `textPosition` that is passed to `BlinkingTextCaret`

[2022-05-13 00:01] matthew-carroll commented on #538
Can you paste a link to the line in the source code?

[2022-05-13 00:05] angelosilvestre commented on #538
https://github.com/superlistapp/super_editor/blob/bbcd232a3c8a791dfdc341e1dd9fc433073f5329/super_text/lib/src/caret.dart#L52-L56

[2022-05-13 00:07] matthew-carroll commented on #538
Ok, so the next question is, why isn't `build()` re-running automatically when the screen size changes? Especially considering that Miguel says this problem only happens when there's content beside the editor. It seems like there's a deeper problem here that we need to understand.

[2022-05-13 00:12] angelosilvestre commented on #538
Testing with the `SuperEditorDemoApp` the problem happens even without any other content

[2022-05-13 00:32] angelosilvestre commented on #538
I will take a deep look and try to find out

[2022-05-13 01:09] angelosilvestre commented on #538
The problem also happens on android when the device is rotated. The `AndroidDocumentTouchInteractor` is rebuilt due to this:

https://github.com/superlistapp/super_editor/blob/bbcd232a3c8a791dfdc341e1dd9fc433073f5329/super_editor/lib/src/default_editor/document_gestures_touch_android.dart#L235-L249

But the `SuperSelectableText` is not rebuilt

I will investigate further tomorrow

[2022-05-13 02:46] ThangVuNguyenViet commented on #406
I mean the toolbar's link button, appears when you select some text

[2022-05-13 02:49] matthew-carroll commented on #406
Are you talking about the example app? The example app isn't relevant for this ticket.

[2022-05-13 02:56] ThangVuNguyenViet commented on #406
Ah yeah, I got it. The toolbar is not in the editor

[2022-05-13 04:25] chimon2000 commented on #275
@creativecreatorormaybenot can you please describe the behavior that you are expecting for CTRL, Home, and End.

[2022-05-13 05:02] hillelcoren commented on #501
Yes, this is trigged by the widget tree above.

The error occurs when I type into the super editor enough lines of text to get to the bottom of the screen.

[2022-05-13 05:18] bk-one commented on #275
@chimon2000 please also see https://github.com/superlistapp/super_editor/issues/351#issuecomment-1124525304 for HOME/END/PgUp/PgDwn

[2022-05-13 14:18] creativecreatorormaybenot commented on #275
@chimon2000 I tested on *web* on Windows.

[2022-05-14 09:21] matthew-carroll commented on #553
These changes were made in #552 - I'm gonna close this ticket.

[2022-05-14 09:21] #553 closed

[2022-05-14 09:22] matthew-carroll commented on #557
Please include your browser, your OS, and a video showing what you're doing on the website that's lagging.

[2022-05-14 09:33] matthew-carroll opened #560 "Fix and test word jumping for SuperTextField"
`AttributedTextEditingController`, which is used by `SuperTextField`, looks like it probably does the wrong thing when jumping by word at the extremities of the text.

Notice here that we always subtract at least `1` from the selection extent when jumping by word. At first glance, this would seem to give us an extent of `-1` if the user tries to jump a word when the caret sits at the beginning of

[2022-05-14 09:41] matthew-carroll opened #561 "Re-evaluate how AttributedSpans finds markers"
The behavior to find starting and ending markers in `AttributedSpans` relies partially on `canMergeWith()` to compare the type of marker we're searching for, and the markers we're searching through. Here's one of those methods:

[code]

I think that either `canMergeWith()` doesn't belong here, or this search behavior is being used for two different purposes.

I think that `marker.attribution.id` s

[2022-05-14 09:47] matthew-carroll commented on #549
The first step here is probably to write an exhaustive set of tests that tap and drag for text selection. Then we can adjust this behavior and see what happens to the tests.

At first glance, the `- 1` looks correct, because the `- 1` is only applied when the incoming `TextAffinity` is `upstream`. An `upstream` position at `x` is the same as a downstream position at `x - 1`. This may be a red herr

[2022-05-14 15:39] angelosilvestre commented on #538
@matthew-carroll I'm trying to write a test to the current implementation without any fix based on `auto_scroll_test.dart`. I'm trying to get the topLeft of the `BlinkingCaret` and I added some print statements that showed this:

[code]
I'm resizing the window using `tester.binding.window.physicalSizeTestValue = screenSizeSmaller` and I also tried to resize in a similar way that the `auto_scroll_t

[2022-05-15 04:14] #489 closed

[2022-05-15 04:17] matthew-carroll commented on #538
@angelosilvestre Do you have any open questions for me, or are you still working through it?

[2022-05-15 04:55] hillelcoren commented on #489
Thanks for the fix and excellent package!

[2022-05-15 07:05] #555 closed

[2022-05-15 13:35] angelosilvestre commented on #538
@matthew-carroll I'm still working through it. I will make a PR soon

[2022-05-15 16:30] faithoflifedev commented on #351
@matthew-carroll

I have the sample code below which performs the home/end operations.

I haven't been able to figure out how to navigate the document without moving the caret (all of the current `defaultKeyboardActions` appear to do so).  Also, I've looked through the `DocumentLayout` methods and none appear to give me a means of finding an `Offset` or `DocumentNode` at the start or end of the us

[2022-05-16 13:08] salihgueler opened #565 "[DESKTOP] Hint text cuts off with 1 line input fields on SuperTextField"
From the example application, if you go to

`_interactive_demo.dart` file and change the example as follows: You can see that the text is cut off in the text field. Same happens in our application as well.

[code]

<img width="1112" alt="Screen Shot 2022-05-16 at 16 07 12" src="https://user-images.githubusercontent.com/24432752/168599377-fce017c5-e443-47ea-bb7e-9a299c7cd729.png">

[2022-05-16 13:12] salihgueler opened #566 "[DESKTOP] The text behaves scrollable when the maxLines is null on SuperTextField"
From the example application, if you go to

`_interactive_demo.dart` file and change the example as follows: You can see that the text is cut off in the text field. Same happens in our application as well.

[code]

https://user-images.githubusercontent.com/24432752/168600074-ff4a2f88-0316-4b93-a678-07a91115d4b5.mov

[2022-05-17 00:36] #520 closed

[2022-05-17 00:39] matthew-carroll opened #568 "Fix mobile auto-scroll tests"
With my recent work on `SuperText`, I somehow ended up breaking the mobile auto-scroll tests. I didn't fix those tests because we needed to move forward with `SuperText`.

Here's one of the error messages:

[code]

It's possible that I inadvertently messed up @ThangVuNguyenViet's auto-scroll work when I rebased against `main`. Perhaps the issue is a failure for the caret to report its height?

[2022-05-17 04:48] matthew-carroll commented on #566
Is this a duplicate of #505 ?

[2022-05-17 04:55] #350 closed

[2022-05-17 06:54] salihgueler commented on #566
Nope they are different, you can see that this shows an unexpected scrolling behavior with letters like "g"

[2022-05-18 05:41] matthew-carroll commented on #351
It sounds like the root problem here is that the handlers don't have access to the document's viewport. This leads to a question of API design, which typically requires that we look at a few approaches and the tradeoffs in terms of what we expose publicly. Maybe we can start with the most direct approach as a prototype, and then re-evaluate?

All of the keyboard handlers are called from within the

[2022-05-18 08:28] #499 closed

[2022-05-18 08:30] matthew-carroll commented on #537
This is solved with the release of super_text_layout.

[2022-05-18 08:30] #537 closed

[2022-05-18 08:32] matthew-carroll opened #573 "Underline composing region for special character composition"
When composing multi-key characters, there's a standard practice for apps to display some kind of indication that this composition is taking place, such as an underline. This ticket is to implement that behavior in super_editor.

Questions to answer:

1. What visual affordances do we want in super_editor?
2. What should developers be able to configure, or not?
3. What's the appropriate place in th

[2022-05-18 08:33] matthew-carroll commented on #348
@bk-one @MarcelKaeding - Can one of you confirm that this issue is now resolved with the IME merge?

[2022-05-18 08:33] matthew-carroll commented on #385
@bk-one @MarcelKaeding - Can one of you confirm that this issue is now resolved with the IME merge?

[2022-05-18 08:40] matthew-carroll commented on #275
@creativecreatorormaybenot - which browser were you using?

[2022-05-18 08:42] matthew-carroll commented on #464
The README image URL was switched to a GitHub generated URL after dragging and dropping it into the README. This issue should be resolved with the next Pub push.

[2022-05-18 08:42] #464 closed

[2022-05-18 15:01] bk-one commented on #573
I would suggest to follow the Chrome browser flow, which will show the initial character underlined. It should be configurable, MacOS recently changed the visual behavior for example. The configuration option can be added later, though. I'd rather make sure this is done in an opinionated way for now - to allow an early merge. Then we schedule the configuration option later.

[2022-05-18 20:52] matthew-carroll commented on #573
Ok. Whenever we get to configuration, we'll need to know what it means to configure it. I don't know what you have in mind when you mention configuration. But we can build it first in a way that always applies and always looks the same.

[2022-05-19 14:55] bk-one commented on #462
@matthew-carroll can we please fix this?

[2022-05-19 18:18] faithoflifedev commented on #351
@matthew-carroll , thanks for the suggestion, I believe I have code now that covers all of the original points made by @bk-one.  The following snippet covers the operation of the navigation keys without moving the caret.
[code]

[2022-05-19 20:30] matthew-carroll commented on #462
@bk-one Is this more important than all the other priorities?

[2022-05-19 23:32] matthew-carroll commented on #462
@angelosilvestre - This is the ticket I was referencing. If you feel like this is something you can tackle, let me know, and I'll assign it to you.

[2022-05-19 23:33] #538 closed

[2022-05-19 23:39] angelosilvestre commented on #462
@matthew-carroll I can take a look into that

[2022-05-20 00:45] angelosilvestre commented on #462
@matthew-carroll Wrapping the `FeaturedEditor` with a `SingleChildScrollView` and moving the `BoxDecoration` up in the tree solves the issue.

Should I take a look into `SuperEditor` or is this an acceptable solution?

[2022-05-20 00:55] angelosilvestre commented on #462
After this changes:

https://user-images.githubusercontent.com/7597082/169427441-684228e3-3fa6-4b97-8624-23dc1d72ffae.mp4

[2022-05-20 07:06] erf opened #576 "Bump flutter_lints from 1.0.0 to 2.0.1"
I get a build error with flutter_lints 1.0.0, because of my dependency to flutter_lints 2.0.1.

Would it be possible to bump this dependency?

[2022-05-20 14:31] #417 closed

[2022-05-21 01:30] angelosilvestre commented on #462
@matthew-carroll

The interactor (`DocumentMouseInteractor` in this case) makes decisions about how to build it's layout taking in consideration if there is an ancestor `Scrollable` in the tree, but does not check if it's height is constrained:

https://github.com/superlistapp/super_editor/blob/f180eb9ce4b6a56cee20e1b8afd29b59d0e3eb75/super_editor/lib/src/default_editor/document_gestures_mouse.dar

[2022-05-21 04:37] matthew-carroll commented on #348
@MarcelKaeding - Checking in again on this ticket and #385. These two tickets are half of what remains for the next release. Can you let me know if those two tickets still apply?

[2022-05-21 04:43] matthew-carroll commented on #465
I added some references in the README code example that shows a starting point for customizing the stylesheet.

[2022-05-21 04:43] #465 closed

[2022-05-21 04:55] matthew-carroll commented on #462
I'd like to avoid `LayoutBuilder`s when they're not absolutely necessary. What is it that you want to do inside of the `LayoutBuilder`? Can you start by writing a test with the minimum configuration needed to cause this bug?

[2022-05-21 05:15] matthew-carroll commented on #351
@faithoflifedev overall the approach looks reasonable. I have some questions, like why the `scrollController` would be nullable, and whether or not your `pageDown` and `pageUp` implementations would actually jump to the end or beginning of the document. But I think it would probably be a good idea to write a suite of failing tests that cover the various boundary conditions for each of these behavi

[2022-05-21 05:18] matthew-carroll commented on #576
I don't think you should get a build error no matter what happens with the lints. What error are you seeing? And are you using a pub.dev dependency, or a git dependency?

[2022-05-21 06:34] erf commented on #576
If i add `  super_editor: ^0.2.0` as a dependency and i have `flutter_lints: ^2.0.1` as a `dev_dependency` and i run `flutter pub get`, i get the following error:

[code]

In `pubspec.yaml`i have:

[code]

[2022-05-21 07:48] matthew-carroll commented on #576
I think we may have accidentally released with lints as a source dependency instead of dev dependency. If you switch your dependency to `git` instead of `0.2.0`, do you still get that error?

[2022-05-21 08:01] erf commented on #576
If i set up the dependency like this:
[code]

I get the following error:
[code]

Yeah, so it looks like [attributed_text](https://pub.dev/packages/attributed_text) has a direct dependency to `flutter_lints`.

[2022-05-21 11:17] angelosilvestre commented on #462
The `LayoutBuilder` is just to get the `BoxConstraints`. I could get the constraints from the `RenderBox` and avoid the `LayoutBuilder`

I will do some tests

[2022-05-21 14:59] faithoflifedev commented on #351
@matthew-carroll for`scrollController`, looking through the code examples I see that it's nullable, so I' expect that there is a use-case where the `scrollController` would not be available to the `editContext`.

For `pageDown` and `pageUp`, the idea is to scroll the length of the current viewport or to the scroll extent if the length goes beyond the extent.  UI is not my strong suit so my login m

[2022-05-21 22:39] matthew-carroll commented on #576
Ok. Well, I think this will be resolved with our next release, which should happen any day now. I'll see if we can upgrade the lints, but even if we don't, I think the upcoming `v0.2.1` should work for you.

[2022-05-21 22:48] matthew-carroll commented on #462
But what do you intend to do, once you get the `BoxConstraints`?

[2022-05-21 23:21] angelosilvestre commented on #462
I will check if we have a `maxHeight` constraint and, if so, behave as if we are not inside a scrollable widget. I tested the demo website with that change and it behaves correctly

[2022-05-22 18:29] MarcelKaeding commented on #348
@matthew-carroll trying the following on latest Main in the example app on Macos:

- press `option+U`
- result= `¨` is printed correctly
- directly afterwards press `u`
- result: app crashes

`-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               example [24454]
Path:                  /Users/USER/Documents/*/exampl

[2022-05-22 18:31] MarcelKaeding commented on #385
@matthew-carroll see the other issue I just commented on. The app crashes if you press `Return` or any other key, after entering `^` or `´` or ``` or `¨`

[2022-05-22 21:40] #576 closed

[2022-05-22 21:48] SankethBK opened #580 "Does this editor has support for images?"
I wanted to know if this editor supports images or any plans of including support if not already present?

[2022-05-22 21:56] erf opened #581 "Move test and flutter_test from dependencies to dev_dependencies"
I noticed [attributed_text](https://github.com/superlistapp/super_editor/blob/main/attributed_text/pubspec.yaml) have `test` as a `dependency`, and [super_editor](https://github.com/superlistapp/super_editor/blob/main/super_editor/pubspec.yaml) have `flutter_test` as a `dependency`. These could be moved to `dev_dependecies` ?

[2022-05-23 05:29] #182 closed

[2022-05-23 17:45] knopp opened #582 "`[AttributedSpan addAttribution]` doesn't correctly expand existing attribution"
Hi might be missing something, but the following code

[code]
prints
[code]
Which is quite unexpected. Shouldn't the first `SpanMarkerType.end` be removed?

[2022-05-23 19:14] kevindqc opened #583 "Blockquote not working properly"
I ran the example app, and tried to change a paragraph to a blockquote. I expected the text to have a line on the left or some kind of border, and be able to style the text inside that blockquote.

Instead, the text loses all styles and becomes white (on a white background), and I can't change the style of any part of it.

<img src="https://user-images.githubusercontent.com/228313/169889817-0ad0da

[2022-05-23 22:08] matthew-carroll commented on #581
Super Editor depends upon these test packages because we publish testing tools with the package. I'm going to close this ticket.

[2022-05-23 22:08] #581 closed

[2022-05-23 22:10] matthew-carroll commented on #580
For questions about the project, please consider using other media, such as Twitter. Issue tickets are intended for reporting issues.

Yes, Super Editor supports certain image capabilities. If you'd like to see what the editor can do, I recommend running the example app.

[2022-05-23 22:10] #580 closed

[2022-05-23 22:12] matthew-carroll commented on #582
@knopp that definitely looks a bug at first glance. We'll wanna take a look at the current test suite and see why nothing is breaking there. Maybe we missed this test-case.

[2022-05-23 22:13] matthew-carroll commented on #583
Thanks for reporting this. We'll look into it.

[2022-05-24 07:33] bk-one opened #585 "[Desktop IME] multi-character composition and backspace not as intended"
To reproduce, on the SuperEditor example app / Desktop IME:
- press ALT-U to add the umlaut dots (¨) underlines
- press BACKSPACE, nothing happens
- you have to press BACKSPACE again to remove the dots

Expected behavior (as seen for example in this textarea on Github)
- press ALT-U to add the umlaut dots
- press BACKSPACE once to remove the umlaut dots

Other multi-character compositions (e.g. AL

[2022-05-24 08:27] matthew-carroll opened #586 "Typing ŭ in empty paragraph crashes the app"
Typing ŭ in empty paragraph crashes the app. The crash is a complete app crash, not just a Dart crash.

To insert the character in question, select the "German" keyboard and then press:
1. opt + u
2. u

The crash only seems to occur when inserting into an empty paragraph.

[2022-05-24 08:27] matthew-carroll commented on #385
I'm going to close this issue in favor of this one: https://github.com/superlistapp/super_editor/issues/586

[2022-05-24 08:27] #385 closed

[2022-05-24 08:28] matthew-carroll commented on #348
I'm going to close this issue in favor of this one: https://github.com/superlistapp/super_editor/issues/586

[2022-05-24 08:34] matthew-carroll opened #587 "ENTER key on web no longer works in documents"
On web, pressing `enter` doesn't trigger `performAction()`. This same problem exists for Android. On Android, we look for a `\n` character and then insert a new paragraph. We need to do the same thing for web.

UPDATE - the following errors are being moved to a different ticket:

Also, various interactions with Super Editor on web with IME results in errors like the following.

[code]

[2022-05-24 15:50] minikin opened #588 "Expose padding property in SuperTextField"
We need to add/expose `padding` property to `SuperTextField`.

`SuperDesktopTextField` already has [padding](https://github.com/superlistapp/super_editor/blob/d65376dce5cbfd0236f8406db3a1c922527012db/super_editor/lib/src/infrastructure/super_textfield/desktop/desktop_textfield.dart#L87) but it's not available through `SuperTextField` public API.

Padding should be tappable for caret placement.

**

[2022-05-24 17:34] minikin commented on #588
FYI @miguelcmedeiros

[2022-05-25 04:31] matthew-carroll commented on #586
I filed https://github.com/flutter/flutter/issues/104578 with Flutter. There's probably something on our end that we need to fix, which I'm looking into. Nonetheless, Flutter shouldn't completely crash the app, no matter what we do in Dart.

[2022-05-25 05:03] matthew-carroll commented on #586
The root cause on our end is that we're not adjusting the composing region boundaries to account for our hidden text. For example, an empty paragraph has a hidden ". " value, which tricks the IME into auto-capitalizing the first character of IME input, while still preserving our ability to detect backspaces.

As a result of this hidden text, when the user enters "¨", the IME gives us a composing r

[2022-05-25 23:18] matthew-carroll opened #590 "Add AttributedSpans method to get attribution about index"
It's useful to get the span range that includes a given offset. For example:

"Hello, [world]!"

Imagine that you have the offset for the "o" character, and now you want the span range for the whole word that's attributed around the "o".

Add an API that provides this capability.

[2022-05-26 01:13] dkwingsmt opened #591 "An alternative way to implement IME for desktop (#500)"
We noticed that super_editor recently landed #500 that uses an unusual way to handle keyboard events. Unfortunately, this method will not work properly even for now, and is against the direction Flutter is heading. I will propose a different method.

Your goal, to my understanding, is to make your text widget handle key events only if nobody else in the app handles it. In technical terms, you want

[2022-05-27 18:10] knopp opened #593 "Is `SpanRange` `end` really exclusive?"
The documentation claims that the character at `end` is not included. However the code

[code]

Prints
[code]

Would suggest that the `end` in SpanRange is actually inclusive.

[2022-05-28 02:42] matthew-carroll commented on #591
We've been working with keyboard input from the beginning. Are you referring to something specific in #500? Which aspects of this request are specific to IME-based input vs our long-standing keyboard input for text entry?

What direction is that? I've been talking to various members of the Flutter team for over a year about this project and I haven't heard anything about a "direction" for text inp

[2022-05-28 03:18] dkwingsmt commented on #591
Yes, I'm talking about the two use cases of `Shortcuts.maybeOf`.

The direction is to minimize usage of `InheritedWidget`.

The aspect I'm talking about is the reason why you would like to use `Shortcuts.maybeOf` instead of the more common APIs. In your own words, "trigger any Flutter shortcut for the key combo, and if it does, the editor won't try to handle that key".

The issue with this approac

[2022-05-29 08:53] fabiancrx commented on #554
cc @matthew-carroll this can be closed now that #595 was merged

[2022-05-29 21:36] #554 closed

[2022-05-29 22:56] matthew-carroll commented on #591
@dkwingsmt Do you have a minimal example of the override behavior that you're asking us to use? You said that there's an API specifically designed for this purpose within Flutter. Does Flutter have an example that shows us how to use that override?

[2022-05-30 03:32] matthew-carroll commented on #585
@bk-one I tried these steps with a regular Flutter text field and it also requires two backspace presses. The difference is that the built-in Flutter text field shows the underline for the composing character, which makes the two backspaces seem more appropriate. I think this is an IME behavior. Normally, when the user presses the `backspace` button, we get a key notification and we handle the key

[2022-05-30 03:44] matthew-carroll commented on #587
I filed https://github.com/flutter/flutter/issues/104944 with Flutter because this stack trace doesn't make it clear where things went wrong. I don't know if this is a Super Editor bug or a Flutter web bug.

[2022-05-30 06:13] bk-one commented on #585
Then we can keep it like it is and should file an issue on Flutter as you suggest. The behavior seen in a textarea like here on Github is more appropriate. When pressing OPTION+U it should show two dots with an undersline, but they should be removed on a single backspace. The composition should be aborted and the two dots removed.

Can you file it? You probably now more about the details by now?

[2022-05-30 07:31] matthew-carroll commented on #585
Sure. I filed https://github.com/flutter/flutter/issues/104950

[2022-05-30 12:31] Santosh-AD commented on #590
please be a little descriptive.
with some more examples.

[2022-05-30 19:32] #586 closed

[2022-05-31 09:36] knopp commented on #582
@matthew-carroll, any progress on this? It's currently blocking us.

[2022-05-31 14:28] knopp opened #598 "Should `addAttribution` connect to preceding attribution?"
[code]
prints
[code]

Given that the `end` is inclusive (regardless of what `SpanRange` documentation claims) should this be perhaps collapsed into one bold attribution?

[2022-05-31 17:45] matthew-carroll commented on #582
Can you describe what you're trying to do that's triggering this issue?

[2022-05-31 20:45] matthew-carroll commented on #582
BTW, I'm just now noticing that you accessed `text.spans`, and I did the same thing in the PR to fix this, because I reproduced the failure from the example. However, you shouldn't manipulate the `spans` object through `AttributedText`. Instead, you should use `AttributedText` methods, which then internally manipulate the `spans`.

[2022-06-01 07:47] knopp commented on #598
For reference, this has been encountered when parsing HTML, more details in https://github.com/superlistapp/super_editor/issues/582#issuecomment-1143229816.

[2022-06-02 00:53] matthew-carroll commented on #549
What happens when you look up offsets from a `RenderParagraph`? We don't use Flutter `TextField`s in Flutter, so to the extent that those text fields are massaging the `TextPosition`, we may or may not be doing that in `super_editor`. However, `super_editor` relies heavily on `RenderParagraph` for mapping to/from `TextPosition`s.

So if you pass the same `TextPosition` into `RenderParagraph`, one

[2022-06-02 01:23] jmatth commented on #549
Yes. Test case:

[code]

Output:
[code]

[2022-06-02 01:25] matthew-carroll commented on #549
Ok, thanks. We'll need to re-evaluate all of our usages of `TextPosition` throughout `super_editor`.

[2022-06-02 03:13] #582 closed

[2022-06-02 09:36] angelosilvestre commented on #583
@matthew-carroll I could work on this issue

[2022-06-02 20:36] #598 closed

[2022-06-03 01:40] dkwingsmt commented on #591
I've created https://github.com/flutter/flutter/pull/105280, which includes an example app and refined documentation. The example should be similar to your usage as far as I understand. Let me know if the app and the docs make sense.

[2022-06-03 21:34] #462 closed

[2022-06-03 22:25] #583 closed

[2022-06-05 22:50] creativecreatorormaybenot commented on #275
@matthew-carroll `flutter run -d chrome`

[2022-06-08 14:11] miguelcmedeiros opened #609 "[IME] Document selection is cleared when document loses focus"
Steps to reproduce:
* Run demo app
* Select a word => toolbar is shown
* Tap on the link-button

**Expected:** toolbar remains open an input field is shown to introduce the link URL
**Actual:** toolbar is closed

https://user-images.githubusercontent.com/31278849/172638158-d5b80ebd-cd14-40e8-9552-5a8eb7aa36e4.mov

[2022-06-09 07:29] matthew-carroll opened #611 "Create a convenient test API to work with documents"
Create a convenient API to perform common document test options:

- pump a pre-configured document (and return appropriate editing context)
- pump a custom document
- tap to place caret at document position
- double tap to select word around document position
- triple tap to select paragraph around document position

[2022-06-13 04:12] matthew-carroll commented on #459
@angelosilvestre can you try to diagnose and fix this issue? I suggest doing the following:
1. Write a failing test (it might need to be an integration test for this issue, but try a widget test with the web platform first)
2. Find out why the issue is happening
3. Get the test to pass

Please let me know if you have any questions.

[2022-06-13 04:19] matthew-carroll commented on #523
@angelosilvestre can you investigate and fix this ticket? I recommend writing one or more failing unit tests for `BlinkController` and then making them pass.

FYI, the blink controller has moved since this issue was opened. It's now here: https://github.com/superlistapp/super_editor/blob/main/super_text_layout/lib/src/infrastructure/blink_controller.dart

[2022-06-13 04:28] matthew-carroll commented on #383
@miguelcmedeiros do you remember what you wanted to do with this? Did you want the text-style cursor whenever the user hovers over a `SuperTextField`, regardless of whether it's hovering over text? If so, did you think it was important to make that choice customizable, or should we make it a default and unchangeable behavior?

[2022-06-13 05:17] matthew-carroll opened #613 "Extract text controls into new package"
Extract desktop and mobile carets, drag handles, and magnifiers into a new package called `super_text_controls`.

Flutter chose to keep their Android and iOS controls private, forcing us to re-create them. We can prevent this problem from spreading by making our versions available to everyone. Also, by sharing the controls, other developers might find nuanced issues with our visual designs and off

[2022-06-13 05:54] matthew-carroll opened #615 "Add SuperTextField tests and test tools"
Update `SuperTextField` with more tests and test tools:
 * Replace existing keyboard entry with `flutter_test_robots` APIs
 * Add uppercase characters to text input tests
 * Create IME input simulator
 * Use IME simulator to write smoke tests for Android and iOS text entry (also expand smoke tests to include things like deleting content back to empty, selecting and deleting a word, a paragraph, et

[2022-06-13 10:51] angelosilvestre commented on #523
@matthew-carroll Sure

[2022-06-13 10:52] angelosilvestre commented on #459
@matthew-carroll Sure

[2022-06-13 22:52] #611 closed

[2022-06-14 00:10] matthew-carroll commented on #275
@angelosilvestre it looks like we mis-implemented the Windows behavior for skipping a word. I think that we probably used the same behavior across Mac and Windows, which uses `alt`. This was a mistake. On Windows, we want to check for the `ctrl` key to skip a word.

Can you update the implementation to use `ctrl` for word-skipping on Windows, instead of `alt`? Can you also add appropriate tests fo

[2022-06-16 00:12] matthew-carroll opened #619 "Convert SuperTextField shortcut tests to user interaction tests"
Currently, the `SuperTextField` tests for keyboard shortcuts are all unit tests that verify each handler's behavior.

Convert those tests to user interaction tests, which pump a real `SuperTextField`, simulates the keyboard shortcuts, and then verifies the actual text field state after the shortcut runs.

Additionally:
* Replace existing keyboard entry with flutter_test_robots APIs
* Add uppercase

[2022-06-16 00:14] matthew-carroll opened #620 "Add SuperTextField mobile text entry tests"
`SuperTextField` has a number of desktop text input tests, but doesn't have any mobile text entry tests. Add tests for mobile text entry.

Testing `SuperTextField` mobile behavior requires simulated IME text input.

Create an IME simulator and prove it's functionality by writing a handful of Android and iOS `SuperTextField` user interaction tests.

Use IME simulator to write smoke tests for Androi

[2022-06-16 00:16] matthew-carroll opened #621 "Add mobile SuperTextField tests for drag handles"
Add tests to ensure that Android and iOS drag handles appear near expected locations for a collapsed and expanded selection.

[2022-06-16 00:18] matthew-carroll opened #622 "Don't require a line height for SuperTextField"
text_scrollview.dart line 323 blows up if text style doesn't include line height. Make it so that this doesn't happen. Write a test that proves we can pump a text field without a line height.

[2022-06-16 22:07] #619 closed

[2022-06-18 16:32] ThangVuNguyenViet opened #627 "[supereditor_robot] placeCaretInParagraph from the second time doesn't place the caret"
When using the `SuperEditorRobot.placeCaretInParagraph` the second time, it doesn't place a new caret.

Consider this modified test case in `supereditor_robot_test.dart`

[code]

## Result

It fails to insert the `ABC`

## Test log

<details>
  <summary>Logs</summary>

[code]

</details>

FYI, when placing the caret 3 times in a row, e.g
[code]

it throws an error
[code]

This is instead a not typ

[2022-06-20 00:43] #523 closed

[2022-06-20 00:44] #275 closed

[2022-06-20 06:18] matthew-carroll opened #630 "SuperEditor: Multi-user selection"
This is a meta ticket for multi-user selection:

 * #631
 * #404
 * #424

[2022-06-20 07:01] matthew-carroll opened #631 "SuperEditor: Paint multiple user selections"
Add support for multiple user selections in a SuperEditor. These selections need a logical representation, as well as painting support.

A design discussion is available at https://github.com/superlistapp/super_editor/discussions/604

This ticket does not include painting carets for those selections.

[2022-06-20 09:09] domesticmouse opened #632 "AttributedText: `collapsedSpans` returns overly large `MultiAttributionSpan` for unattributed string"
Here's my expectation encoded as a test.

[code]

The background use case is that I'm trying to convert an AttributedText back into `TextSpan`s for display purposes. Halp?

[2022-06-20 09:41] domesticmouse commented on #632
It gets more interesting:

[code]

Results in:

[code]

Which appears to mean my expectations are met as long as there is Attribute coverage at the end of the string.

[2022-06-20 09:42] domesticmouse commented on #593
This may be related to https://github.com/superlistapp/super_editor/issues/632

[2022-06-20 23:49] #591 closed

[2022-06-21 06:46] iapicca commented on #588
@matthew-carroll can you assign this to me please

[2022-06-21 17:42] transcendr commented on #444
@matthew-carroll  I'd like to try and get you this information as requested.  Could you provide me with details of how to access the logs you're referencing and perhaps an example of what I'm looking for in there?  Thanks!

[2022-06-22 01:56] matthew-carroll opened #635 "Create a custom matcher for attributed text in a document node"
Create a custom matcher that matches text content and text styles for attributed text within a document node.

For example, we should be able to simplify link matching.

Original:
[code]

With matcher:
[code]

Default matcher template can use Markdown, but the template should be configurable.

[2022-06-22 04:24] matthew-carroll commented on #587
@angelosilvestre - I'm going to assign this to you so that you have more tickets to work through on your schedule.

[2022-06-22 04:26] matthew-carroll commented on #585
I'm going to move this ticket out of the IME milestone because we're stuck waiting for Flutter to address this issue at the platform level.

[2022-06-22 04:29] matthew-carroll commented on #488
I'm going to remove this from the current milestone because I'm not entirely sure what these factories should look like, and this isn't a priority.

[2022-06-22 07:12] matthew-carroll opened #637 "Paragraph alignment demo is broken"
I discovered that the paragraph alignment demo is broken. The top 3 paragraphs, which should display left, center, and right aligned, respectively, are all scrunched to the left.

My guess is that paragraph alignment broke with the introduction of the new `SuperText` layout system.

Fix `super_editor` so that we get alignment back. Then, add a golden test that recreates the paragraph alignment dem

[2022-06-22 07:58] miguelcmedeiros commented on #383
@matthew-carroll
I can't think of a case where the cursor should be different than the text-style when hovering the text field container.

My proposal is to make have the cursor as text-style by default when hovering the text field container and not making it configurable.

[2022-06-22 11:18] #403 closed

[2022-06-23 20:17] jmatth commented on #593
I think there are two things happening here:

1. The behavior of `collapseSpans` is to return spans where `end` is inclusive.
2. Given a span that ends at `i`, `collapseSpans(i+1)` will return a span that ends at `i+1`. In the context of the previous point, this is a bug caused by [this line][1]. The condition should be `> contentLength - 1`.

At minimum we should fix the bug in 2 but I think the

[2022-06-23 22:15] jmatth commented on #632
I think there are two things happening here:

1. The behavior of `collapseSpans` is to return spans where `end` is inclusive.
2. Given a span that ends at `i`, `collapseSpans(i+1)` will return a span that ends at `i+1`. In the context of the previous point, this is a bug caused by [this line][1]. The condition should be `> contentLength - 1`.

At minimum we should fix the bug in 2 but I think the

[2022-06-24 00:24] domesticmouse commented on #632
Please feel free to adopt the above tests if it helps. Happy to open a PR with the content if that's appropriate.

[2022-06-24 15:51] jmatth commented on #632
@domesticmouse I have what I think is a working version of `collapseSpans` with exclusive end indexes but a couple of your tests are failing. However, I think the issue is in the tests and not the new implementation. The failing lines (indicated below with trailing comments) are both applying `- 1` to expected indexes, which I think is incorrect.

In this test the start index in the failing line i

[2022-06-25 01:30] domesticmouse commented on #632
Sgtm!

[2022-06-25 07:20] matthew-carroll commented on #637
@angelosilvestre can you give this ticket a try? If the issue turns out to be complicated or really difficult to find, then let me know, and I can take care of it when I get some time.

[2022-06-25 22:29] #637 closed

[2022-06-26 15:49] faithoflifedev opened #644 "Add scrolling behaviors to `SuperEditorRobot`."
Testing of scroll position currently requires manual behaviors such as:

scrollState.widget.controller!.jumpTo(scrollState.position.maxScrollExtent);

"Please file an issue on GitHub to add scrolling behaviors to `SuperEditorRobot`. We'll leave these manual behaviors as-is for now, but eventually we'll replace them with a robot behavior so that test writers don't need to know these details."

_Ori

[2022-06-27 04:09] matthew-carroll opened #646 "Add tests for tapping to select an empty document"
Add tests to ensure that tapping anywhere in an empty document gives focus to the document, and places the caret at the beginning of the document.

See `supereditor_gestures_test.dart` for a place to add a test.

[2022-06-27 04:16] matthew-carroll opened #647 "[SuperEditor] - refactor mobile widget tree to match the new desktop structure"
We refactored `SuperEditor`'s desktop widget tree structure in #645 to allow for carets in a document overlay. This involved separating scrolling from gestures.

We already had to separate scrolling from gestures on mobile, because mobile drag handles sit in an overlay.

De-duplicate any `Scrollable`, auto-scrolling, overlay, and gesture behaviors that we can, between mobile and desktop.

[2022-06-27 06:02] matthew-carroll opened #648 "[SuperEditor] - separate styling logs from layout logs"
All the logs for document styling are currently going to the layout logger.

Create a logger for editor styles, if one doesn't already exist, and update all style logs to go to that logger.

[2022-06-27 19:30] venkatd commented on #459
@angelosilvestre @matthew-carroll can confirm this is resolved in our latest app. Thanks!

[2022-06-27 23:22] matthew-carroll opened #649 "[SuperTextField] - on mobile the caret is always painted"
`SuperTextField` on mobile always shows a caret, even when the field doesn't have focus. For example, every `SuperTextField` in a form all show a blinking caret at the same time.

I think this bug was probably caused by recent reworking of `super_text_layout`.

[2022-06-28 02:24] angelosilvestre commented on #587
UPDATE:

The fix for the ENTER key behavior was straightforward.

This is a bit more tricky. I was able to reproduce this issue with this example:

[code]

Steps to reproduce:

1. Tap after C
2. Press Shift
3. Press UP Arrow 2 times
4. Type another letter

After this the crash happens.

Here's the method where the error happens in js:

[code]

I added some logs to get some information, this is wha

[2022-06-28 02:29] matthew-carroll commented on #587
@angelosilvestre let's ensure that any update includes some kind of conclusion and next steps. Is this a Flutter bug or a super_editor bug? Where do you think we should go from here?

[2022-06-28 02:37] angelosilvestre commented on #587
@matthew-carroll  It's still unclear to me if this is a Flutter web bug or a super_editor bug. I think we could merge the fix for the ENTER key and then I could try to investigate deeper to see if I could determine if this is a super_editor bug.

[2022-06-28 03:11] #460 closed

[2022-06-28 03:13] matthew-carroll commented on #587
Ok. Can you file a new issue that describes the non-enter error? I'll update the original ticket to only refer to pressing enter.

[2022-06-28 03:32] angelosilvestre opened #650 "Exception after replacing paragraph on web"
On web, replacing the content of two paragraphs causes this exception:

[code]
Reproducible example:

[code]

Steps to reproduce:

1. Tap after C
2. Press Shift
3. Press UP Arrow 2 times
4. Type another letter

After this the crash happens.

Here's the method where the error happens in js:

[code]

I added some logs to get some information, this is what was logged:

[code]
This method is called he

[2022-06-28 03:52] #587 closed

[2022-06-28 05:31] #383 closed

[2022-06-28 07:07] matthew-carroll opened #653 "[SuperTextField] - Newline not working on web"
I have a multi-line `SuperTextField` running in a mobile browser. The software keyboard shows a "newline" button. However, when I press the button, I don't get a newline.

When I press this button, I expect a newline to be inserted into the multi-line text field.

Here's the widget I'm using:
[code]

[2022-06-28 07:09] matthew-carroll opened #654 "[SuperTextField] - Tapping empty space doesn't place the caret"
I'm displaying a single-line `SuperTextField` and a multi-line `SuperTextField` in a mobile browser.

When I tap part of the field without any text, the caret is initially inserted at the end of the text, as expected.

However, if I place the caret elsewhere in the text, and then tap in the empty space, the caret doesn't move to the end of the text.

I expect the caret to move to the end of the te

[2022-06-28 18:18] #649 closed

[2022-06-28 22:55] miguelcmedeiros commented on #609
In the current implementation of `DocumentImeInteractor`, the selection is cleared when focus is taken away from `SuperEditor` and this is the expected behavior in some cases:
* User taps out side the editor
* User moves the focus to a text field
* Use "tab" to move to the next focus node
* etc.

But there are also cases where we should keep the selection in case the focus is taken away:
* Editing

[2022-06-29 01:08] #654 closed

[2022-06-29 01:52] matthew-carroll opened #656 "[attributed_text] - Remove dependency on dart:ui"
`AttributedText` includes a method to generate a `TextSpan`. The reference to `TextSpan` adds a dependency on `dart:ui`, which prevents `AttributedText` from being used for CLI apps, or any other non-Flutter apps.

Take the existing styling functionality in the `attributed_text` package and move it to `super_editor` (or possibly `super_text_layout` if it's needed there).

[2022-06-29 23:18] matthew-carroll opened #657 "[SuperTextField] - Change tap selection behavior on mobile"
Currently, all `SuperTextField`s receive focus, and place a caret, the moment the user presses down on them.

This behavior is reasonable on desktop because pressing down with the mouse isn't used for scrolling. Therefore, a user pressing down on a text field is a good indication that the user intends to interact with the field.

On mobile, this behavior is a problem. If a `SuperTextField` sits in

[2022-06-30 00:50] #657 closed

[2022-06-30 01:04] matthew-carroll opened #659 "[SuperTextField] - Pressing space bar on software keyboard doesn't work"
I noticed a bug when typing text into single-line and multi-line `SuperTextField`s on iOS in the browser that the space bar on the software keyboard doesn't work.

This problem might be unique to iOS web, but also maybe not.

When I'm entering text, and I press the space bar, instead of a space being inserted, my page's scrollview scrolls down.

Instead, when pressing space bar, a space should be

[2022-06-30 01:05] matthew-carroll opened #661 "[SuperTextField] - on iOS web, pressing "DONE" on the keyboard doesn't do anything"
When entering text in a `SuperTextField` on iOS web, at the top of the keyboard is a button that reads "DONE".

Pressing "DONE" has no effect.

I would expect pressing "DONE" to close the keyboard and remove focus from the field in question.

[2022-06-30 01:08] matthew-carroll opened #662 "[SuperTextField] - Tapping outside a field doesn't remove focus"
On iOS web, when I give a field focus, and then tap outside the field, the keyboard closes, but the field remains focused. Moreover, if I try tapping on the field again, the keyboard doesn't re-appear (because the field thinks its focused).

When the keyboard disappears, the field should lose focus.

It's also probably a good idea that when the user taps a field, even if it already has focus, we s

[2022-06-30 01:10] matthew-carroll opened #663 "[SuperTextField] - Giving focus to a field doesn't auto-scroll"
Typically, when a user focuses a text field, that text field should cause the page to auto-scroll so that the field sits somewhere around the middle of the viewport.

On mobile web, `SuperTextField` doesn't seem to auto-scroll at all.

Investigate how text field auto-scrolling usually works in Flutter. If appropriate, add the necessary behaviors to `SuperTextField` to also achieve auto-scrolling.

[2022-06-30 01:55] #653 closed

[2022-07-02 22:25] #659 closed

[2022-07-04 01:33] matthew-carroll opened #667 "Figure out how Flutter uses hidden inputs on web"
Flutter appears to use hidden `<input>` tags for their text fields. The goal of this ticket is to figure out what machinery they're using to do this. In other words, if we want to display hidden HTML fields for `super_editor` fields and documents, how can we do that?

Please post the results of the investigation in this issue.

This investigation is related to https://github.com/superlistapp/super

[2022-07-04 01:33] matthew-carroll commented on #529
I wrote #667 to figure out how Flutter includes the hidden inputs. We can figure out next steps after that.

[2022-07-04 01:37] matthew-carroll commented on #510
FYI @angelosilvestre - The text field should auto-scroll horizontally, but it isn't. At one point this was working.

[2022-07-04 01:40] matthew-carroll opened #668 "[SuperTextField] - Horizontal alignment is broken"
As seen in https://github.com/superlistapp/super_editor/issues/509, horizontal alignment for `SuperTextField` seems to be broken. Let's fix it.

[2022-07-04 01:46] #453 closed

[2022-07-04 01:49] matthew-carroll opened #669 "[Example App] - Toolbar can move off-screen"
The popover toolbar in the example app is not confined to the screen's visual area. We should prevent the toolbar from moving off screen.

You can see a screenshot of the problem here: https://github.com/superlistapp/super_editor/issues/380

This ticket should probably wait for the introduction of a custom transform follower solution (a Flutter Bounty Hunters package).

[2022-07-04 01:51] matthew-carroll opened #670 "[Example App] - Toolbar hides the alignment menu"
In the example app, the popover toolbar allows the user to select text alignment options with a drop down menu. The drop down menu appears beneath the toolbar, obscuring some of the options.

You can see a screenshot of the problem here: https://github.com/superlistapp/super_editor/issues/380

[2022-07-04 01:54] matthew-carroll commented on #378
FYI @angelosilvestre - This problem may already be solved, but take a look and see if you can reproduce it.

[2022-07-04 01:55] matthew-carroll commented on #376
FYI @angelosilvestre - I think the use-case that we're trying to support in this ticket is the ability to press `tab` and move focus into a `SuperEditor` and begin typing.

[2022-07-04 01:56] matthew-carroll commented on #370
I think this was resolved with `super_text_layout`

[2022-07-04 01:56] #370 closed

[2022-07-04 01:59] matthew-carroll commented on #333
We solved this issue by adding a static property to `BlinkController`. We configure that property in our test configuration to turn off the blinking.

[2022-07-04 01:59] #333 closed

[2022-07-04 02:00] #661 closed

[2022-07-04 05:46] matthew-carroll commented on #609
Update: I've hacked a proof that we can solve this.

Here's a description of the problem:

- Two widgets **can** be considered "focused" simultaneously, **if** both widgets are in the same branch of the focus tree, i.e., a widget with primary focus, and the ancestors of that focus node in the focus tree.
- When using `Focus` widgets to configure `FocusNode`s, those `FocusNode`s are structured in t

[2022-07-05 00:36] matthew-carroll opened #672 "[SuperEditor] - Add drag selection to SuperEditor robot"
Currently, we can place a caret in a `SuperEditor` using the test robot. However, we don't have any tools for getting an expanded selection. The current hack is to explicitly set a selection on the composer.

Implement drag selection:

1. Create an appropriate robot method. To get started, implement this method with the composer hack, then migrate all tests to use the robot.
2. Get robot drag sele

[2022-07-05 02:10] matthew-carroll opened #673 "[SuperTextField][mobile] - Field doesn't lose focus when keyboard is closed."
The following issue was found on Android web, but it probably applies to iOS web, too. It may also apply to native mobile, but I haven't tested.

On Android web, do the following:

1. tap on a `SuperTextField` to give it focus with a caret
2. the keyboard pops up
3. press the button on the keyboard that closes the keyboard

Expected result:
The `SuperTextField` caret disappears

Actual result:
The

[2022-07-06 00:43] matthew-carroll commented on #543
I think this was solved elsewhere. Re-open if it's still a problem.

[2022-07-06 00:43] #543 closed

[2022-07-06 22:33] #673 closed

[2022-07-06 23:29] matthew-carroll commented on #46
I filed https://github.com/flutter/flutter/issues/107196 with Flutter

[2022-07-06 23:38] #622 closed

[2022-07-07 00:54] matthew-carroll commented on #55
I'm not sure what I originally meant by this. It could go various ways. I'm going to close it. We can file a new version of this ticket, if needed.

[2022-07-07 00:54] #55 closed

[2022-07-07 01:06] matthew-carroll commented on #101
We're moving caret rendering into a document overlay. That work will take care of this.

[2022-07-07 01:06] #101 closed

[2022-07-07 01:31] #50 closed

[2022-07-07 03:22] jmatth opened #680 "Add Melos for monorepo management"
[Melos][melos] is a command line tool for managing Dart monorepos. The primary benefits it would provide for this repo are:

1. Make development across projects easier. Currently some projects within the monorepo depend on the version in pub and others have `dependency_overrides` that have to be removed during publishing. Instead we could just have pub dependencies and Melos will transparently set

[2022-07-07 04:03] #648 closed

[2022-07-07 07:56] #78 closed

[2022-07-07 08:12] matthew-carroll commented on #235
`SuperSelectableText` has become `SuperText` in `super_text_layout`. And the referenced issue is closed. I'm going to close this issue because I'm not sure what needs to be done. We can re-discover the problem in the future.

[2022-07-07 08:13] matthew-carroll commented on #239
We're using the `logging` package. We've created a number of different loggers. We're still in the process of removing the old logging system, but we can close this.

[2022-07-07 08:13] #239 closed

[2022-07-07 08:14] matthew-carroll commented on #263
We're in the process of introducing various testing tools for `SuperEditor` and `SuperTextField`. This is a broad issue, but it will be solved incrementally as we go, so I'm going to close this ticket.

[2022-07-07 08:14] #263 closed

[2022-07-07 08:16] matthew-carroll commented on #349
I filed a ticket with Flutter related to this: https://github.com/flutter/flutter/issues/107196

[2022-07-07 20:34] matthew-carroll opened #684 "[SuperTextField] - Adding a pixel scrolling option (in addition to line scrolling)"
`SuperTextField` includes an auto-scrolling viewport. That `TextScrollView` sizes and scrolls by line. Most other systems seem to scroll text fields by pixel, even if they're sized by line height.

Introduce an alternative auto-scrolling viewport that scrolls by pixel. Or, if it makes sense, adjust the existing `TextScrollView` to support both modalities.

[2022-07-07 21:43] #54 closed

[2022-07-07 22:48] #193 closed

[2022-07-07 23:38] #212 closed

[2022-07-07 23:49] matthew-carroll commented on #234
This ticket is blocked on moving caret painting from individual components into a document overlay.

There's an open PR heading that direction right now: #645

[2022-07-07 23:55] matthew-carroll opened #688 "[SuperTextField] - Move the supertextfield package from /infrastructure to the root"
Currently the `supertextfield` package in `super_editor` sits at `lib/src/infrastructure/supertextfield`. This came from a time when it was viewed as infrastructure within the broader `super_editor` package. However, `SuperTextField` is becoming more popular in its own right.

To help people quickly find `SuperTextField`, and to represent `SuperTextField` as a sibling tool alongside `SuperEditor`,

[2022-07-08 00:37] #425 closed

[2022-07-08 08:21] gorkemsari commented on #506
Any updates?

[2022-07-08 14:14] zhangwb1996 opened #689 "[super_editor] - Example app toolbar disappears when tapping anything with focus"
EDIT (Matt): I changed the title of this ticket to match what I found. I also added a comment in the thread that defines the problem.

---
When the app is running, DropdownButton doesnt contain any List of _TextType or TextAlign in the _toolbar.dart,but  the widget tree lists the DropdownButton items
<img width="327" alt="image" src="https://user-images.githubusercontent.com/41967295/178006051-206

[2022-07-09 20:50] #510 closed

[2022-07-09 21:01] matthew-carroll commented on #169
I'm closing this after discussion with @venkatd - he'll open another issue with a focus on improved shortcut support.

[2022-07-09 21:01] #169 closed

[2022-07-10 00:23] matthew-carroll commented on #232
@venkatd it looks like we have sense switched the handlers to receive a `ProseTextLayout` instead of a `State` object. Does this sufficiently handle the original goal of this ticket?

[2022-07-10 00:25] matthew-carroll commented on #183
Try to solve this after #609 is solved.

[2022-07-10 00:31] matthew-carroll commented on #505
Ideally, we'd like to have an IME simulator to implement the tests for this ticket. An IME simulator is in the works in `flutter_test_robot` but is currently blocked by Flutter.

[2022-07-10 05:44] matthew-carroll commented on #525
I'm looking into this. The problem appears to be related to the use of a `SuperEditor` within an ancestor `Scrollable`.

When `SuperEditor` adds its own `Scrollable`, it disables the regular scrolling behavior and directly implements scrolling. However, `SuperEditor` doesn't have any control over its ancestor `Scrollable`. As a result, `SuperEditor` and the ancestor `Scrollable` are fighting for g

[2022-07-10 06:05] matthew-carroll commented on #525
The root problem seems to be that we're using a `PanGestureRecognizer` but `Scrollable` uses a `VerticalDragGestureRecognizer`. I thought maybe our `PanGestureRecognizer` is losing out in the gesture arena. So I changed our recognizer to also be a `VerticalDragGestureRecognizer` and it now seems to beat out the ancestor `Scrollable`.

[2022-07-10 09:02] matthew-carroll opened #695 "[SuperTextField] - create a public package file for SuperTextField"
Currently, everything in `super_editor` is exported in `super_editor/super_editor.dart`. Add a top-level file called `super_text_field.dart`, which then exports everything related to `SuperTextField`.

[2022-07-10 15:31] venkatd commented on #232
@matthew-carroll yes we can close this ticket.

I've updated our own code to use the new `ProseTextLayout`.

[2022-07-10 15:31] #232 closed

[2022-07-10 15:51] angelosilvestre commented on #444
Using a Samsung M51 with the default Samsung keyboard the issue doesn't happen. After I switched to GBoard I noticed it started happening.

@miguelcmedeiros Are you using GBoard ?

[2022-07-10 17:36] britannio commented on #444
I'm using Gboard and facing this issue.

[2022-07-10 21:28] #506 closed

[2022-07-11 20:10] #525 closed

[2022-07-11 21:37] #560 closed

[2022-07-12 20:02] matthew-carroll commented on #689
@zhangwb1996 can you please express the problem in terms of user functionality? What behavior do you expect? What behavior are you seeing?

[2022-07-12 20:08] matthew-carroll opened #697 "[SuperTextField] - We need a way to specify content as single-line"
Currently, we can specify the min and max height of a text field in terms of line count with `minLines` and `maxLines`.

However, the size of the field doesn't constrain the number of lines of content. More specifically, a user can press `enter` to insert a newline into a `SuperTextfield` that's only one line tall. Technically, this is probably fine. The problem is that there's no way to confine t

[2022-07-12 23:44] angelosilvestre commented on #378
I tried both examples and it seems the issue is already solved. Also, since https://github.com/superlistapp/super_editor/pull/616 `getCharacterBox` checks if `getBoxesForSelection` returns an empty list. I'm going to close this ticket.

[2022-07-12 23:44] #378 closed

[2022-07-13 00:09] #609 closed

[2022-07-13 04:39] zhangwb1996 commented on #689
https://user-images.githubusercontent.com/41967295/178645122-20decf60-4731-45b0-913f-6fc796d2ae5c.mp4

in this video, when i click the DropdownButton, maybe, the items of DropdownButton should hava been listed, instead the toolbar disappeared.
And i try it in a simple and independent demo, the items are not listed and the Overlay also disappeared.

[2022-07-13 21:01] matthew-carroll commented on #689
I've looked into this. The problem here is the same as #609, but in our fix for that we only applied the change to the URL text field. We need to apply the focus fix to the entire toolbar. I'll do that in response to this ticket.

[2022-07-14 00:09] angelosilvestre commented on #670
Checking this ticket I've found another issue:

Clicking to change the text alignment is not applying the new alignment until an attribution is toggled.

[2022-07-14 02:38] zhangwb1996 commented on #689
Thanks a lot

[2022-07-14 06:28] matthew-carroll commented on #689
I think we may be blocked on this issue for now. The problem is that `DropdownButton`, which is used for both selecting the node type, and selecting the text alignment, displays its dropdown in a custom `Route`.

By displaying the dropdown in a custom route, and giving the dropdown focus, the primary focus escapes our control. We can't wrap individual dropdown items with our own `Focus` widget, ei

[2022-07-14 20:16] mHassan20896 commented on #627
I am working on it

[2022-07-15 19:08] matthew-carroll opened #701 "[super_editor] - De-dup scrolling test tools"
We have an expanding set of local test tools for scrolling, e.g., simulating a contracting/expanding screen size as if the keyboard were appearing/disappearing.

Go through all the tests and centralize any generic scrolling tool, so that all tests can use them without re-writing them every time.

[2022-07-15 19:36] matthew-carroll opened #702 "[super_editor] - Combined keyboard and IME behaviors for standard editor features"
We have some tests that verify the same feature, but they do so in different test files, because currently we don't have any testing tools that treat keyboard input in the same way as IME input. Thus a test is either a keyboard input test, or an IME input test.

Create appropriate tooling that allows a test to specify input text, regardless of modality. Then, take the tests that verify cross-platf

[2022-07-15 19:38] matthew-carroll opened #703 "[super_editor] - Migrate tests to new directory structure"
Historically, we defined tests in suites that were placed in locations similar to the source code, e.g., `/test/src/default_editor/...`.

Currently, we're writing tests based on user interactions, whenever possible. These tests are being placed in `/test/super_editor/` and `test/super_textfield/`.

Migrate tests from the old directory and suite structure to the new one.

[2022-07-15 22:28] #670 closed

[2022-07-16 22:54] #663 closed

[2022-07-19 01:31] #363 closed

[2022-07-20 23:44] #526 closed

[2022-07-21 04:43] Braj65 opened #709 "Trying to add the TextWithHintDemo to own project but caret not working as expected"
Hi,

I ran the TextWithHintDemo as a standalone android app and it worked as expected. Then i added it to my project. Kept the code as it is in the demo app. One issue happening is the caret is not blinking. It blinks only once when i click on hint text and then disappears. Because the caret is not blinking so i am not able to type anything.

Let me know if any other details are required.

[2022-07-21 05:29] hillelcoren opened #710 "The getter 'estimatedLineHeight' isn't defined for the class 'ProseTextLayout'"
When trying use the main branch of the code from GitHub we're seeing the following error when trying to build the app:

[code]

[code]

Note: if I change to the `typing-fade-prototype` branch the error goes away.

Thanks for your help, let me know if you need any more details.

[2022-07-21 22:39] angelosilvestre commented on #710
@matthew-carroll  This getter was added in https://github.com/superlistapp/super_editor/pull/616

`SuperEditor` is picking version `0.1.0` from pub.dev.

I think the only is missing is to publish a new version of `super_text_layout` to include the new getter.

[2022-07-21 23:17] angelosilvestre commented on #667
@matthew-carroll The hidden <input> tags are generated directly at the engine side by `DefaultTextEditingStrategy` at `text_editing.dart`, so it won't be possible to use the same classes.

We can, however, use `dart:html` to add arbitrary elements to the dom and keep the value in sync. Here's an example:

[code]
![print](https://user-images.githubusercontent.com/7597082/180330315-21189500-3ed5-4c2

[2022-07-22 00:19] matthew-carroll commented on #667
Thanks. Can you link to where the engine and framework are making use of these HTML elements? If we're going to re-implement this behavior on our end, we also need to know how/when/why the framework is using those inputs.

[2022-07-22 00:20] matthew-carroll commented on #710
@angelosilvestre please check the original post. A specific commit hash is used in the pubspec, and according to the poster, that's a recent hash and it's causing the given failure.

[2022-07-22 00:32] angelosilvestre commented on #667
The element is created when the text field attaches to the input client here:

https://github.com/flutter/engine/blob/48b6b5b3b10887ee6847e44a004518ef0f600f76/lib/web_ui/lib/src/engine/text_editing/text_editing.dart#L1137-L1166

The event handlers are added to the dom element here:

https://github.com/flutter/engine/blob/48b6b5b3b10887ee6847e44a004518ef0f600f76/lib/web_ui/lib/src/engine/text_editi

[2022-07-22 00:43] angelosilvestre commented on #710
The commit hash only applies to `SuperEditor`.  In `SuperEditor`'s pubspec the dependency on `super_text_layout` is:

[code]
This version was published before `estimatedLineHeight` was added.

I think we need to publish a new version of `super_text_layout` and then update `SuperEditor`'s pubspec to use the new version.

[2022-07-22 19:35] matthew-carroll commented on #710
I just released new versions for `super_text_layout` and `attributed_text` on pub. I also updated the version for `super_editor_markdown` on GitHub.

@hillelcoren please let me know if you're now able to compile and run your project.

[2022-07-22 19:36] matthew-carroll commented on #709
@Braj65 when you run the actual `example` app on Android, does the caret work as expected?

[2022-07-22 21:17] #149 closed

[2022-07-22 21:17] #404 closed

[2022-07-24 10:35] Braj65 commented on #709
Yes. I extracted the actual example app, TextWithHintDemo,  into a widget and wrapped it with a MaterialApp. Then i ran it. In that case the caret worked as expected.
Now I took the same widget containing TextWithHintDemo and added it to a page of my app. The caret didn't worked.

[2022-07-24 18:52] hillelcoren commented on #710
I'm able to build our app now but I've noticed a different problem, when serializing/deserializing markdown it looks like the package isn't correctly handling double line breaks, ie.

[code]

Becomes

[code]

[2022-07-24 20:13] matthew-carroll commented on #710
What document structure are you serializing in this example? Are you serializing a single `ParagraphNode` or two `ParagraphNode`s?

[2022-07-24 20:14] matthew-carroll commented on #709
What I mean is, when you clone this repo, and run the example app as it exists in the repo, does the hint component work?

[2022-07-24 20:21] hillelcoren commented on #710
Here's the basic usage, `input` should equal `output`.

    final String input = 'Line1\n\nLine2';
    final String output = serializeDocumentToMarkdown(deserializeMarkdownToDocument(input));

[2022-07-24 20:40] matthew-carroll commented on #710
Can you try compiling against this PR and see if it fixes the issue? This PR includes some serialization changes: https://github.com/superlistapp/super_editor/pull/704

You may need to explicitly depend on that PR for `super_editor_markdown`, too.

[2022-07-25 00:18] angelosilvestre commented on #380
The issue was happening when clicking on the `DropdownButton` while the dropdown list is visible.

After the fix for https://github.com/superlistapp/super_editor/issues/670, the dropdown list is displayed above the button, so it should not be possible to click on the `DropdownButton` a second time.

I tested it manually and wasn't able to reproduce the issue. I'm going to close this.

[2022-07-25 00:18] #380 closed

[2022-07-25 04:06] Braj65 commented on #709
No. When i clone the repo it and run the example app, the hint component doesn't works.

[2022-07-25 13:02] hillelcoren commented on #710
I believe the problem is still there. Are you able to try this code, if you also see the problem this could make a good unit test.

[code]

[code]

[2022-07-25 21:26] matthew-carroll commented on #709
@angelosilvestre can you take a look at the example app and see if you can find out what's going on with the hint text component?

[2022-07-25 21:48] matthew-carroll opened #712 "[super_editor_markdown] - Serialization fixes"
I fixed some serialization issues in another PR, but we don't know when that will merge in. Submit those fixes on their own.

https://github.com/superlistapp/super_editor/pull/704

[2022-07-25 22:01] #712 closed

[2022-07-25 23:13] angelosilvestre commented on #709
@Braj65 do you have a reproducible example where the issue happens?

[2022-07-26 00:25] angelosilvestre commented on #568
The auto-scroll tests don’t appear to be skipped in the CI. I'm going to close this.

[2022-07-26 00:25] #568 closed

[2022-07-26 06:59] hillelcoren commented on #710
I'm pretty sure this used to work correctly, once I upgraded the package it was immediately apparent that this had changed.

Our app has an editor window and preview window, making any change now breaks the underlying markdown due to this issue.

I've tried to use an older version of the package to test it but haven't been able to get the app to run.

[2022-07-26 08:21] Braj65 commented on #709
To create a reproducible example i have to add all the different components(materialapp-builder, nav 2, state mgmt, bottomnav bar etc) before reaching a screen where the caret is not working as expected. That will take some time.
I am closing the issue for now. I will revisit it again in the future.

[2022-07-26 21:02] matthew-carroll commented on #709
@angelosilvestre it was stated earlier that the example app is broken. Please check that. If the component works as expected in the example app, and it's unclear what's wrong with it, then you can close this issue.

[2022-07-26 22:48] #501 closed

[2022-07-27 00:14] angelosilvestre commented on #709
I tested the example app and it's working correctly. I also extracted `TextWithHintDemo` and added it to a new app with some widgets around and I wasn't able to reproduce the issue.

Also, looking at `TextWithHintDemo`, it doesn't seem to have anything that could cause problems with the caret.

It seems that a specific widget tree is needed to trigger this issue. I'm going to close this.

[2022-07-27 00:14] #709 closed

[2022-07-29 20:52] kostasoft opened #717 "[super_editor_markdown] - Text alignment (textAlign) is ignored during serialization/deserialization"
Thanks for the plugin.
Everything is very super.
But I noticed a little problem: Metadata 'textAlign' is ignored during serialization/deserialization.

[2022-07-30 07:26] kostasoft commented on #717
Addendum: Same problem with underlined text (serialize/deserialize) and strikethrough text (deserialize)

[2022-08-01 07:28] egnimos opened #718 "[super_editor] - How to serialize/deserialize into json"
I want to store the document node in the form of json, but I can't able to do that, Is there any way to perform this operations

thank you :)

[2022-08-03 01:25] angelosilvestre commented on #504
I tested this on the latest main and the issue doesn't happen anymore. After some investigation, it seems to have been fixed in https://github.com/superlistapp/super_editor/pull/652

I'm going to close this.

[2022-08-03 01:25] #504 closed

[2022-08-04 07:24] LuisMaGit opened #720 "First two lines jumps when writing in gestureMode: DocumentGestureMode.iOS or DocumentGestureMode.android"
I’m getting this jumps in the firsts lines of texts when using `gestureMode: DocumentGestureMode.iOS`, or `gestureMode: DocumentGestureMode.android`, is not happening for `DocumentGestureMode.mouse.

https://user-images.githubusercontent.com/70621340/182787320-61e1d2e9-30bf-4816-9ae3-a5a0bc27e76b.mov

`super_editor: 0.2.2`

Flutter doctor:
[✓] Flutter (Channel stable, 3.0.4, on macOS 12.4 21F79 da

[2022-08-04 11:48] JostSchenck opened #721 "correct refresh after changing node order or other properties that do not change DocumentSelection"
I'm currently trying to use SuperEditor for a software that needs some outline style editing. First of all: Thanks a lot for such a general approach to such a huge problem, for the admirable quality of code and for up-to-date API documentation! Still it is hard for me to thoroughly understand the whole design, especially when working on something like outline editing, which is significantly differ

[2022-08-04 22:31] britannio opened #722 "[SuperEditor] Caret not visible when document has selection and no interaction has taken place"
**To Reproduce**
Build a `SuperEditor` with autofocus set to `true`, a non-empty list of nodes and an initial collapsed selection.
The expected behaviour is for the caret to be visible however this isn't the case.

I attempted to figure out why:

[`CaretDocumentOverlay`](https://github.com/superlistapp/super_editor/blob/main/super_editor/lib/src/default_editor/document_caret_overlay.dart#L30) is i

[2022-08-06 20:00] rockingelevator opened #724 "[super_editor] Scroll physics and iOS magnifier"
Is there any way to change the editor's scroll physics?

For now, the editor has default behaviors ('bouncing' on ios, and 'clamping' on android). In case i want to fire events on overscroll (like scroll up to refresh or scroll down to dismiss or etc) I'd need 'bouncing' physics.

For this purpose, I tried to wrap the editor with another Scrollable (SingleChildScrollView) but then its hard to plac

[2022-08-08 21:49] SeanfvdM commented on #718
Hey @egnimos I was also wondering how to do it and after long searching to no avail. I decided to do it myself for my project after I finished that, I saw this issue.

I made it a package that should hopefully help with this issue.
[pub.dev](https://pub.dev/packages/super_editor_unofficial_helper)

[2022-08-09 20:32] abidex4yemi commented on #720
I'm experiencing the same issue. @matthew-carroll any idea? thank you.

[2022-08-09 21:08] matthew-carroll opened #726 "[super_editor] - Can't place caret in hint component, and other bugs"
A few bugs have appeared with the new gesture widget organization:

- The hint text in the hint text component is absorbing the pointer before the gesture gets to the document
- The cursor should be a text cursor throughout the document, not just over nodes
- The toolbar focus in the example app is broken again - tapping anything on the toolbar makes the toolbar disappear

[2022-08-09 21:09] matthew-carroll opened #727 "[super_editor] - The sliver example is throwing an exception"
The sliver example in the `super_editor` example app is throwing an exception, and it fails to render its content.

[2022-08-09 21:40] matthew-carroll commented on #720
@LuisMaGit which version of super_editor are you using?

[2022-08-09 21:43] LuisMaGit commented on #720
@matthew-carroll super_editor: 0.2.2

[2022-08-09 21:44] matthew-carroll commented on #722
@angelosilvestre - Please see if this is still an issue after your focus/selection PR is merged. If it's fixed, please feel free to close.

[2022-08-09 21:47] matthew-carroll commented on #721
@JostSchenck - To help us understand your use-case, can you describe the order of nodes in your `MutableDocument`, then describe a change that takes place, and then describe the final node order in your `MutableDocument`? I'm not entirely sure what behavior you're describing.

As for listeners, the individual nodes don't know their index. So if you're interested in nodes moving around, you'll want

[2022-08-09 21:50] matthew-carroll commented on #724
@rockingelevator - scroll physics isn't customizable right now. That's something we can look into. It may be a tricky task because it's tough to expose some scrolling behavior without making the end-user responsible for all the nasty scrolling details. But we can take a look at some point.

As for mobile affordances, please file one or more tickets around those behaviors. I thought we already adde

[2022-08-09 21:52] matthew-carroll commented on #718
@egnimos we don't offer any specific serializations in super_editor, because there are an infinite number of formats that developers might want to use. However, you can serialize your `Document` into any format that you'd like. You just need to loop through the nodes in the `Document` and write the relevant information to JSON, or HTML, or anything else.

We do have one format that's supported, wh

[2022-08-09 21:52] #718 closed

[2022-08-09 21:53] matthew-carroll commented on #717
@kostasoft can you please include the version of `super_editor` and `super_editor_markdown` that you're using?

Also, please include relevant Markdown samples that we can run, which demonstrate the failure.

[2022-08-10 07:17] egnimos commented on #718
@matthew-carroll, I have extended json method in each and every node and its working pretty fine,
@SeanfvdM thank you for suggesting, a package I will give it a try

**this package is really awesome**

[2022-08-10 22:58] Hixie opened #728 "flutter_test_repo_test.sh doesn't fail on failure"
I have discovered a problem with https://github.com/superlistapp/super_editor/blob/main/flutter_test_registry/flutter_test_repo_test.sh
It doesn't actually fail when the tests fail! :-)
Probably the same is true with https://github.com/superlistapp/super_editor/blob/main/flutter_test_registry/flutter_test_repo_test.bat, but I'm not as familiar with batch files.

For the shell script, it can be sol

[2022-08-12 07:16] #620 closed

[2022-08-12 22:07] matthew-carroll opened #731 "[super_editor] - Example app toolbar dropdowns make the toolbar disappear"
In the `SuperEditor` example app, select some text in the document. A popover toolbar appears.

Tap on the node type dropdown, or the alignment dropdown. Notice that the toolbar immediately disappears.

The problem is that the dropdown menus appear in their own route, which steals focus. Upon loss of focus, the IME interactor clears the document's selection. Without a selection, the toolbar has no

[2022-08-13 00:06] #566 closed

[2022-08-13 00:36] #728 closed

[2022-08-13 01:41] #720 closed

[2022-08-13 01:43] #726 closed

[2022-08-14 21:56] #668 closed

[2022-08-15 02:43] matthew-carroll opened #736 "[super_editor] - Tagging popover while typing"
`SuperEditor` should add necessary pieces for popovers while the user types.

For example, an app wants to tag users in a document. A user types "Assign this to @". Upon entering the "@", a popover should appear with a list of user names. You can see this same behavior in a GitHub issue or PR description.

Another example, an app wants to index hashtags in a document. A user types "This is #". Upo

[2022-08-15 06:10] MenuItem207 opened #738 "[super_editor] Multiple carets showing up when multiple SuperEditors are used"
Placing multiple SuperEditors within the same page results in multiple carets appearing. Below is an example snippet:
[code]
Additionally, adding focus nodes to the SuperEditors and unfocussing them does not work:
[code]

[2022-08-15 07:47] JostSchenck commented on #721
Thanks you very much for your reply. Being snowed under in other projects
right now I will need some time before I can dig into this. I will report
back!

Am Di., 9. Aug. 2022 um 23:47 Uhr schrieb Matt Carroll <
***@***.***>:

[2022-08-16 03:38] matthew-carroll opened #740 "[super_editor] - The default input source should be based on the platform"
Current, `SuperEditor` always configures itself for keyboard input, regardless of platform.

`SuperEditor` should default to keyboard input for Mac, Windows, Linux, and Web. But it should default to IME for Android and iOS.

Eventually, the default will always be IME, once we've proven stability.

[2022-08-16 03:40] matthew-carroll opened #741 "[super_editor] - The default gesture mode should be based on the platform"
Currently, the `SuperEditor` widget always configures itself for mouse input, regardless of platform.

`SuperEditor` should default to mouse input for Mac, Windows, Linux, and Web. But it should default to Android gestures on Android, and iOS gestures on iOS.

[2022-08-16 03:43] matthew-carroll opened #742 "[super_editor] - Switching from mouse gesture to mobile gesture causes error"
Display `SuperEditor` with mouse gestures:

[code]

Place the caret in the editor.

Switch from mouse gestures to iOS gestures and hot reload:

[code]

An error widget is displayed and an error is reported to the console:

[code]

[2022-08-16 05:03] ChangJoo-Park opened #743 "[super_editor] broken text in Korean."
Hello devs, When  I tested this lib with Korean.
<img width="737" alt="image" src="https://user-images.githubusercontent.com/1451365/184801633-1bdbaf86-8d0e-421f-8f27-fe8b5f167f41.png">

It can be "한글입력테스트" not in screenshot :(

[2022-08-16 05:19] nyanye commented on #743
It seems unicode characters (maybe especially CJK I guess?) in general are not properly supported yet. I tried writing in Japanese and Mandarin but both was not working.

[2022-08-16 05:58] matthew-carroll opened #744 "[super_editor] - Tapping beyond end of content should place caret at end of document"
**Expected behavior:**
When there's empty space after (or below) the content in a `SuperEditor`, if the user taps the empty space, the caret should be placed at the end of the document's content. In other words, when the user taps at a location beyond the end of the document, the caret should always be placed at the end of the document, regardless of the x-position of the mouse cursor.

**Actual b

[2022-08-16 06:30] matthew-carroll opened #745 "[super_editor] - Tab button on software keyboard should indent list items"
On tablets, like the iPad, the software keyboard includes a tab button. This tab button should behave the same way as a physical keyboard, e.g., indent list items. However, the tab key only inserts spaces.

Update the IME handler to correctly apply tabs.

[2022-08-16 06:36] matthew-carroll opened #746 "[super_editor] - URLs should linkify when typed"
When users type URLs, they typically expect the URL to become a link automatically.

`SuperEditor` should recognize a URL, when typed. The URL should have a link attribution applied to it.

As the URL has characters added or removed, the attribution URL should be updated accordingly.

[2022-08-16 07:47] ChangJoo-Park commented on #743
![IMG_D7C35C84D7F2-1](https://user-images.githubusercontent.com/1451365/184826023-88e455a9-0c0d-405d-a250-a2dc0ee4f7bb.jpeg)

comparision in flutter's default TextField(above) and SuperTextField(below)

[2022-08-17 05:09] matthew-carroll opened #747 "[super_editor] - create a physical keyboard action factory that maps a key combo to an action"
Currently physical keyboard action functions internally check for their desired key combo. These actions return early if the current key presses don't match their combo. If the current key presses do match the desired combo, then the action runs its desired behavior.

It's nice to have complete control over execution, but this form of implementation makes the average case more difficult than it ne

[2022-08-17 05:21] matthew-carroll commented on #736
This issue should probably also cover #68

[2022-08-17 06:15] matthew-carroll opened #748 "[super_editor] - Make commands atomic"
While working on #736 it became apparent that notifying listeners separately for document changes and selection changes create problems when taking post processing actions.

For example, we're trying to tokenize content in paragraphs. This tokenization process depends on both the content in the paragraph, and the position of the caret. Currently, two different change notifications are fired for a

[2022-08-17 20:17] proformance opened #749 "[super-editor] - Scrolling not working when touching/hovering images"
How to reproduce: run the example project and go to the Markdown Serialization Demo. Hover the cursor over the image and try to scroll.

[2022-08-17 22:11] #662 closed

[2022-08-17 22:43] #565 closed

[2022-08-18 06:03] debasmitasarkar commented on #741
Will check this

[2022-08-19 10:26] Jei-sKappa opened #751 "Typing lag"
When a few hundred nodes (i noticed it with 150 nodes) are created it seems the whole view gets updated and not only the widget tree of the single node making the typing impossibile.

[2022-08-19 23:34] angelosilvestre commented on #727
I tested it and couldn't reproduce the issue.

[2022-08-19 23:34] #727 closed

[2022-08-20 17:57] britannio opened #753 "[super_editor] iOS floating cursor colour is fixed to red"
The default Flutter implementation uses the the caret/cursor color with 75% opacity. https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/rendering/editable.dart#L2993

SuperEditor uses `Colors.red` instead. https://github.com/superlistapp/super_editor/blob/d1214e97d0c255b9ab2c5cb6d9b3ead40aced0c9/super_editor/lib/src/default_editor/document_gestures_touch_ios.dart#L1497-L1501

[2022-08-21 17:03] jmatth commented on #751
I'm seeing the same issue. To test I replaced the contents of the sample doc in the example app with the entire text of Frankenstein split into nodes by paragraph, which comes out to 812 nodes ([branch here][1]). Here's a video of what typing into that looks like in profile mode:

https://user-images.githubusercontent.com/1316184/185801628-09c353a7-22a8-4e2e-8e4e-1f6c64a675dd.mov

Interestingly, I

[2022-08-23 03:32] jmatth commented on #751
Ok, I bisected the history and found that performance with large documents tanks at commit 57a7d72166272582cbbdedc752b6f328c0493f88. That commit rewrote most of the code for building document components. Digging deeper, it looks like the new style system caused document changes to depend heavily on [`MutableDocument.getNodeIndex`][1], and that method is very slow:

<img width="1231" alt="image" sr

[2022-08-23 06:22] matthew-carroll opened #756 "[super_editor] - Ignore pointers in document overlay"
The document overlay that we added to the desktop configuration seems to be interfering with document selection in some apps.

Add an `IgnorePointer` to the appropriate place in the document overlay so that selection works as expected.

[2022-08-23 07:19] xoxhk opened #758 "Can't input Chinese"
like this
![image](https://user-images.githubusercontent.com/11372709/186095881-c324567a-6a47-45c1-b855-e3b45dd6784d.png)

[2022-08-23 07:42] #758 closed

[2022-08-23 11:00] Jei-sKappa commented on #751
From what I can see it seems like when a node in the UI change by typing a new character, the [_presenterListener](https://github.com/superlistapp/super_editor/blob/d1214e97d0c255b9ab2c5cb6d9b3ead40aced0c9/super_editor/lib/src/default_editor/layout_single_column/_layout.dart#L68) attacched to [presenter](https://github.com/superlistapp/super_editor/blob/d1214e97d0c255b9ab2c5cb6d9b3ead40aced0c9/sup

[2022-08-23 11:48] egnimos opened #759 "ListItem Node is not accepting the style rule"
I have noticed that list node is not accepting the style rule, when I execute this code

[code]

but, when I change the code of the given **ConvertParagraphToListItemCommand** into this

[code]

then it works fine, I don't know what am'I missing here

[2022-08-23 15:13] jmatth commented on #751
This is correct, and there's an issue open to fix that behavior at #748. Based on that ticket I don't think it's a trivial fix.

Ah, I do see that. Nice catch! Debugging further, the issue seems to be [this line in `ParagraphComponentViewModel.==`][1], where it compares `textStyleBuilder` and always gets false. That field is set in [`TextComponentViewModel.applyStyles`][2], where it's assigned to

[2022-08-23 20:10] jmatth commented on #751
I have a branch with the `textStyleBuilder` comparison removed and a simple cache added to all `MutableDocument` queries here: https://github.com/jmatth/super_editor/tree/perf-improvements. With the entire Frankenstein document performance still isn't perfectly smooth but the editor is usable.

[2022-08-23 21:14] matthew-carroll commented on #751
I just wanted to pop in and say thanks for digging into the details. I'll review this thread when I get a chance.

[2022-08-24 05:32] matthew-carroll opened #760 "[super_editor] - Error in example app for "Task and Chat Demo - RenderBox""
I launched the example app and opened "Task and Chat Demo - RenderBox" and I got the following error:

[code]

[2022-08-24 19:22] kulny commented on #66
This is similar to a feature that I would like to have as well. Inline text replaced with an interactable (gesture detection) Widget-esque object, similar (if not functionally identical) to extending Flutter's TextEditingController to override buildTextSpan so that specific text can be replaced with a WidgetSpan. This also ideally provides a way to create inline onTap interactions from text which

[2022-08-24 23:34] angelosilvestre commented on #667
@matthew-carroll Some updates:

These elements are created by the engine when the IME connection is established. So, when we use `TextInput.attach`, it already creates these elements. The engine uses them to receive input from the operating system, then it infers the deltas that are sent to the app.

The inputs are transparent elements that are placed at the exact position of the text field using

[2022-08-25 22:12] matthew-carroll opened #761 "[SuperEditor] - Add IME input test tools for documents"
Add IME input test tools for documents.

This work was already done for `SuperTextField` and now we need to support IME test input for `SuperEditor`.

[2022-08-26 15:41] miguelcmedeiros opened #763 "Exceptions in `SuperDesktopTextField` when hot reloading"
When there's a `SuperDesktopTexField` being rendered and the developer hot reloads the app, then the following exceptions are thrown:
[code]

This is reproducible with SuperTextField demo.

[2022-08-26 22:41] #761 closed

[2022-08-30 22:03] #376 closed

[2022-08-31 00:18] jvelezos opened #764 "[SuperTextField] [Desktop] Text cuts off when maxLine: 1"
From the example application, if you go to SuperTextField

`_interactive_demo.dart` file and make the following changes:

[code]

Then both the Text and the hint are being cut off.

<img width="428" alt="Screen Shot 2022-08-30 at 7 12 32 PM" src="https://user-images.githubusercontent.com/11229242/187565429-8ed5738d-2dc0-432c-ad92-35eab18ba7c8.png">
<img width="419" alt="Screen Shot 2022-08-30 at 7

[2022-08-31 00:36] matthew-carroll commented on #764
@angelosilvestre can you take a look at this ASAP and see if you can fix it?

[2022-08-31 00:49] angelosilvestre commented on #764
@jvelezos In which platform are you testing? On windows and web it seems to be working.

[2022-08-31 02:19] jvelezos commented on #764
this happend testing in macos

[2022-08-31 02:23] angelosilvestre commented on #764
@jvelezos The only changes needed to cause the issue are the minLines and maxLines? I also tested on macos and I couldn't reproduce the issue.

[2022-08-31 03:36] jvelezos commented on #764
`  @override
  Widget build(BuildContext context) {
    return GestureDetector(
      behavior: HitTestBehavior.opaque,
      onTap: () {
        // Remove focus from text field when the user taps anywhere else.
        _focusNode!.unfocus();
      },
      child: Center(
        child: SizedBox(
          width: 400,
          child: GestureDetector(
            onTap: () {
              // no-op

[2022-08-31 04:29] matthew-carroll commented on #764
@jvelezos can you please format the code sample as a runnable piece of code with the minimum details to cause the bug? That way, we don't risk make any false assumptions.

[2022-08-31 08:09] #406 closed

[2022-08-31 08:24] #722 closed

[2022-08-31 08:28] #763 closed

[2022-08-31 13:16] jvelezos commented on #764
Sure. Replace the contents of _interactive_demo.dart in the with this. Once you delete the field text you'll notice that the hint cuts off.

[code]

[2022-09-01 00:20] matthew-carroll commented on #756
Closing for reason mentioned in PR

[2022-09-01 00:20] #756 closed

[2022-09-01 05:15] #764 closed

[2022-09-01 17:17] jpopesculian opened #769 "Blockquote does not allow selection interactions on Linux/Web"
When hovering over blockquotes the cursor goes from text back to basic, and does not allow for any type of selection interaction, directly on the region.

Super Editor Version: 16fa1e9
Flutter Version: 3.3.0
Platforms: Linux / Web

[2022-09-01 19:08] jmatth opened #771 "Example app is broken in Flutter 3.3.0"
- The mouse cursor does not stay as a text cursor but switches back to the default cursor. I haven't nailed down the exact cause but it seems to happen after clicking on the document for the first time
- Scrolling on a trackpad in macOS changes the selection instead of scrolling the document. I'm guessing the gesture system needs to be updated to support the new [trackpad gestures][1]

https://use

[2022-09-02 05:04] #590 closed

[2022-09-02 05:07] #717 closed

[2022-09-02 05:16] #769 closed

[2022-09-03 09:34] algusarov commented on #771
Not sure if it's an issue due to Flutter 3.3.0 upgrade, but I just built an example app on macOS and opening any menu in a hovering toolbar doesn't work as well currently.

https://user-images.githubusercontent.com/46132428/188264850-5aaaf31c-2652-4f89-9fff-475336da3f81.mov

[2022-09-03 21:22] jmatth commented on #771
I think the toolbar issue is unrelated. It's also an issue for me on `3.0.5` and has its own issue at #731.

[2022-09-05 10:11] Jei-sKappa opened #774 "Multiple subcomponents interaction"
Add a way to add multiple subcomponents to one bigger component.
An example could be the TaskNode or the ListNodes, which both have a leading widget but it is not selectable in any way.
Expected result:

https://user-images.githubusercontent.com/46776108/188424670-297b7132-d118-44f4-abf2-067d60241527.mov

[2022-09-06 09:28] miguelcmedeiros opened #775 "SuperEditor does not release focus when tapping elsewhere"
Steps to reproduce:
* Place a `SuperTextField` above `SuperEditor`
* Tap on `SuperEditor` to give focus to it
* Tap on `SuperTextField` to give focus to it

Expected: focus moves from `SuperEditor` to `SuperTextField`
Actual: focus stays in `SuperEditor`

It is possible to reproduce this in `super_editor`'s demo app, by placing a `SuperTextField` above `SuperEditor` in `ExampleEditor`.

[2022-09-06 09:34] miguelcmedeiros commented on #775
From a quick investigation, this seems to have been introduced in c866122e52b22c995630d673c2af8258722e04ec.

Before this commit it has an issue as well, but less severe: the user needs to tap a second time in `SuperTextField` in order to get focused.

[2022-09-06 09:34] miguelcmedeiros commented on #775
Cc @matthew-carroll @angelosilvestre

[2022-09-06 14:21] jpopesculian commented on #749
should be fixed by #773

[2022-09-06 21:20] matthew-carroll commented on #775
@angelosilvestre can you make this a top priority?

[2022-09-06 22:42] angelosilvestre commented on #775
@miguelcmedeiros I investigated the demo app and the issue seems to be that `requestFocus` is being called when taping outside the editor.

https://github.com/superlistapp/super_editor/blob/700f0f752f9b0ac2ee05ea10e79edf97f114c26c/super_editor/example/lib/demos/example_editor/example_editor.dart#L167-L189

When the editor loses focus, the IME connection is closed, which clears the selection. In th

[2022-09-07 03:28] Mijawel commented on #269
Interested in this as well. Pretty much identical motivation to jhlabs. Just wondering if any progress has been made?

[2022-09-07 03:40] matthew-carroll commented on #269
I'm in the middle of reworking the editor API to work with requests, commands, and events, which will serialize all changes in a central location. We should take another look at this issue after those APIs are available.

[2022-09-07 20:42] miguelcmedeiros commented on #775
@angelosilvestre
Thanks for looking into it.

Your advice solved the issue for us.

I'm leaving the issue open until the demo app is fixed.

[2022-09-08 06:19] Mijawel commented on #269
Just a heads up for anyone who is interested, I have put together an example project that implements discrete change notifications for super_editor as well as serialization of DocumentNodes to Map<String,dynamic> so that changes can be saved and reflected on Firebase (or for whatever purpose someone might require).

https://github.com/Mijawel/super_editor_serialization_and_notifier

Feel free to l

[2022-09-08 23:35] #775 closed

[2022-09-08 23:38] matthew-carroll commented on #771
@angelosilvestre can you prioritize this?

[2022-09-08 23:39] matthew-carroll commented on #774
Can you describe why this is a super_editor concern? If you're implementing custom components, then you need to implement selection for that component.

[2022-09-08 23:41] matthew-carroll commented on #759
@egnimos I'm not sure what the specific issue is that you're describing. Can you please express the issue in terms of "expected" and "actual" behavior?

[2022-09-08 23:42] matthew-carroll commented on #749
Closing in favor of #773

[2022-09-08 23:42] #749 closed

[2022-09-09 00:07] #710 closed

[2022-09-09 16:20] miguelcmedeiros opened #777 "Caret misplaced when the indentation of a list item (ordered or unordered) changes"
Steps to reproduce:
* Create a list item node (unordered or ordered)
* Press TAB

Expected: List item node gets indented and caret moves to the new start position of the node
Actual: List item node gets indented but the caret remains in the old position

https://user-images.githubusercontent.com/31278849/189396028-a9233274-6be3-47a5-ad53-4bd587d3768e.mov

[2022-09-09 16:21] miguelcmedeiros commented on #777
Cc @matthew-carroll

[2022-09-09 21:10] matthew-carroll commented on #777
@angelosilvestre can you take a look at this?

[2022-09-10 08:28] Jei-sKappa commented on #774
My final goal is, for example, to create a new component that is just like the Task Node in the example app; the main difference is that the CheckBox should be selectable and when copied, by selecting it, I should have something custom in the clipboard like "- [x]".
How can I do that?
Probably the best thing for this example is to use the existing TaskNode component as a starting point.
The first

[2022-09-10 16:08] cjnolen opened #779 "deserializeMarkdownToDocument doesn't create an empty node when the markdown is empty"
Issue Summary:
- Super Editor seems to require that there be at least 1 node in the Document, or nothing is selectable
- If you delete all text from a Document with Super Editor, it leaves you with a single Paragraph Node in the Document with contents "", which still works fine.
- deserializeMarkdownToDocument creates a MutableDocument with 0 nodes if it consumes markdown text that is empty, creat

[2022-09-13 01:02] angelosilvestre commented on #771
The mouse cursor issue seems to be a flutter bug.

I filled https://github.com/flutter/flutter/issues/111425

[2022-09-13 01:10] matthew-carroll commented on #774
I think that what you need to do is create your own version of `TaskComponent`, which knows how to paint a selection around the checkbox. Then, you also need to create a new `ComponentBuilder` that creates and returns your new component, instead of using the existing task component builder.

You might be able to use the existing `TaskNode`, but given that you're altering the meaning of the node se

[2022-09-13 01:10] #774 closed

[2022-09-13 21:03] #777 closed

[2022-09-13 21:08] #771 closed

[2022-09-14 04:43] Mijawel opened #781 "TypeErrorImpl - Unexpected null value. Caused when refreshing webpage (and sometimes resizing)"
Receiving the following error and typing no longer works (the caret just moves around wildly). I have also seen the same error appear in a few other contexts including with page resizing although it has been harder to replicate. (With the method below I have managed to replicate it more reliably).

[code]

How to replicate:
1. Run the code
2. Type a few words.
3. Refresh page
4. Type a bit more
5.

[2022-09-14 18:46] jmatth opened #782 "Awkward scroll physics on desktop with trackpad"
On most desktop platforms, a scroll triggered by a trackpad gesture will generally have some inertia so that the content continues to scroll for a short time after the user removes their hand from the trackpad. This behavior was present in super_editor but is now missing following the release of Flutter 3.3.0 and the subsequent fix for the new trackpad events in #780. Scrolling performed with a tr

[2022-09-15 02:32] #779 closed

[2022-09-18 23:18] #745 closed

[2022-09-19 01:11] #744 closed

[2022-09-19 21:16] matthew-carroll opened #788 "[SuperDocument] - Create a read-only document"
Create a widget called `SuperDocument`, which is like `SuperEditor`, except that it's non-editable.

Details:

- User should be able to drag a selection and copy content, but the user shouldn't be able to place the caret
- Double/triple tap should select words and paragraphs as with `SuperEditor`.
- Up/down arrows should scroll the document

[2022-09-20 01:00] #742 closed

[2022-09-23 04:12] #760 closed

[2022-09-26 01:29] MenuItem207 opened #791 "Platform Exception on Android"
Steps to replicate:
1. Create a Super Editor:
[code]

2. Type in 'Abc'
3. Hit Enter
4. Type in 'a'
5. Backspace all the way until A
6. Repeat steps 2 - 5 once
7. Exception:

[code]

[2022-09-26 02:49] domesticmouse opened #792 "[SuperTextField] is breaking on Flutter beta"
SuperTextField 0.2.2 is failing on Flutter 3.4.0-17.2.pre

[code]

Flutter doctor output:

[code]

[2022-09-26 09:18] abidex4yemi opened #793 "Text selection toolbar is far from the selected text (mobile)"
- The default behavior for text selection on mobile is by pressing down the text but that's not the case in the editor, double tapping text is the only way to select text currently in the editor.
- After selecting text in the editor, the toolbar is far from the selection
- Clicking outside of the selection doesn't undo the text selected
- The first paragraph or line in the editor can not be select

[2022-09-26 13:21] domesticmouse opened #794 "[SuperTextField] Attempting to full screen on iOS and Android break the editor"
I'm building a syntax highlighting text editor based on `SuperTextField` for a codelab. It works as intended on macOS, and basically works on web (with the expected issue around not being able to background parsing via `compute`), but when I run the code on Android and iOS the displayed text editor doesn't flow through the space that the Widget Inspector says it takes.

Reproduction repo: https://

[2022-09-26 15:53] tanzilzubair opened #795 "Converting from a ListItemNode to a normal paragraph (or something else) and back doesn't respect Stylesheet styles"
**Reproduction:**
Run the sample editor Flutter app with the example document. Upon opening the example document, converting the unordered list items using the Convert To Paragraph button, and then back to a ListItemNode using the unordered list button causes the padding to be different from what it originally was.

I've tested this using different configurations and styles, and this problem persi

[2022-09-28 02:59] Mijawel commented on #751
Thanks for the branch btw @jmatth

Any chance this fix can be merged into the project sometime soon (or a timeline on a broader fix). Just cause this problem seems to make longer documents unusable but it's a shame to be missing out on other updates.

[2022-09-28 03:04] matthew-carroll opened #796 "[SuperEditor] - Respond to key up events"
Currently, `SuperEditor` only responds to key down events. We shouldn't limit use-cases for key-up events.

Adjust the root key handler, and make any relevant updates to the default handlers in the chain, to allow for up events.

Consider replicating the `createShortcut` factory method in `SuperReader`.

[2022-09-28 21:19] josephelliot-wk opened #797 "[SuperEditor] Best practice for monitoring user-input changes"
Hello! First off, this package is _awesome_. I've been experimenting with using it in a production environment and have a question about responding to updates.

First, let me provide some context. I'm limited to an API that works off of basic insertions and deletions. For example:
- `/add`
  - input: paragraph id (string), text offset (integer), text (string)
  - This is a basic, raw insertion of

[2022-09-29 03:13] matthew-carroll opened #798 "[SuperEditor, SuperReader] - Generalize keyboard handler"
We have a different physical keyboard interactor widget for `SuperEditor` and `SuperReader`, but the only difference between them is the type of service locator that they pass to the keyboard handlers.

Combine the two interactors into a single interactor definition by adding a generic type to the class definition.

[2022-09-29 05:28] Mijawel opened #799 "Caret moves into second last position when clicking in empty space after certain texts"
Issue: Caret moves into second last position when clicking within empty space after certain texts.

How to replicate:
- Open up a super_editor text box on the latest current commit as of this post (fc25dcd) (I'm not sure what commit the example editor at https://editor.superlist.com/ is on but the issue appears there too)
- Copy paste the text below.
- Click after the first or second lines.
- Care

[2022-09-30 00:33] bestprize999 opened #800 "Whether image is suppoted?"
no image icon found in example

[2022-09-30 10:45] bugrevealingbme commented on #1
I think this issue should be explained better. How can I keep this document suitable for api. SuperEditor export not explained

[2022-09-30 16:29] jmatth commented on #799
This is a duplicate of #549, which has an ongoing PR at #602.

[2022-09-30 17:09] jmatth commented on #751
@Mijawel I've been using super_editor for several months and based on that experience I recommend just creating a fork and maintaining any changes you need there. I keep a branch with the changes I need [here][1], and rebase it onto the main branch from upstream every other week or so. As long as you rebase often enough (and possibly have [rerere][2]: turned on in git), it's not too difficult to k

[2022-09-30 21:54] matthew-carroll commented on #1
@bugrevealingbme can you please rephrase your comment as a specific question?

[2022-10-01 13:24] Mijawel commented on #799
thanks for the heads up!

[2022-10-01 13:30] Mijawel commented on #751
Thanks. Several good suggestions! I like that your fork also seems to include the #602 PR (that bug is a bit of a pain).

[2022-10-01 20:54] #788 closed

[2022-10-01 21:26] matthew-carroll commented on #800
It's unclear what this ticket is requesting. I'm going to close it. If you have a feature request, please file a ticket with all relevant details so that we can assess.

[2022-10-01 21:26] #800 closed

[2022-10-01 21:27] matthew-carroll commented on #799
Closing as duplicate.

[2022-10-01 21:27] #799 closed

[2022-10-01 21:29] matthew-carroll commented on #741
I'm assigning this ticket to @angelosilvestre so that we can get this fix in the next release.

[2022-10-01 21:32] matthew-carroll opened #801 "[SuperEditor] - Audit example app using Flutter 3.3.x and fix any issues found"
Flutter 3.3 introduced breaking changes to the IME API, and possibly other areas, too.

Update `SuperEditor` and `SuperTextField` to work with Flutter 3.3.x.

EDIT:
After upgrading to 3.3.3, I'm not seeing any compile-time breakages, which is odd, because there should have been breaking IME changes.

That said, here are some issues that I am seeing:

**BLOCKED BY FLUTTER:** When moving the cursor

[2022-10-01 21:38] matthew-carroll commented on #794
To clarify, based on the screenshots, this issue is not technically a "fullscreen" issue. I think Android and iOS define "fullscreen" as a window mode that removes all OS chrome. Rather, this problem looks like it's about a `SuperTextField` that's displayed very tall, with many lines. We'll look into it.

@domesticmouse BTW, my TODO list has included a minimal code editor for Dart, built with Flut

[2022-10-01 21:39] matthew-carroll commented on #792
I think this issue now relates to the current stable version. I'm going to close this ticket in favor of #801

[2022-10-01 21:40] matthew-carroll commented on #793
Hi. What version of `super_editor` are you using? And what version of Flutter are you using? Does this issue happen when you run the Example app?

[2022-10-01 21:42] matthew-carroll commented on #781
@Mijawel does this issue happen when running in production, or only when you're running in debug mode and connected to Flutter's debugger? In other words, is this a hot restart issue, or a perpetual issue with `SuperEditor`?

[2022-10-01 21:43] domesticmouse commented on #794
Thanks!

Sounds like a plan! I'm guessing we should start with a planning gDoc?

[2022-10-01 21:45] matthew-carroll commented on #794
@domesticmouse

Sure, I'll draft something and share with your Google email.

[2022-10-01 22:01] abidex4yemi commented on #793
super_editor 0.2.2 and I also point to the latest main branch but still the same issue, my Flutter version is 3.0.5.

Yes I'm experiencing the same issues with the example app.

[2022-10-02 00:54] bestprize999 commented on #800
Can we insert images with the editor?in toolbar image-inserted icon is not found.

[2022-10-02 01:30] matthew-carroll commented on #800
Are you asking about the example app?

In the example app, if you paste an image URL and press "enter", the image will be inserted.

We don't have a toolbar option to insert an image. But you could build that into your own toolbar. The example app is just for demonstration purposes. You're not limited to that behavior.

[2022-10-02 23:56] domesticmouse commented on #792
There is a change inbound that isn't in Flutter 3.3.x but is in 3.4.x-beta.

You can see a PR for flutter samples that I believe is relevant to this issue: https://github.com/flutter/samples/pull/1447

[2022-10-02 23:58] domesticmouse commented on #801
I think you'll find the breaking changes are in Flutter 3.4.x-beta and above.

[2022-10-04 02:44] #549 closed

[2022-10-04 03:03] domesticmouse commented on #801
We have yet to roll out our Q4 Flutter release. So, I'd guess sometime before end of year.

[2022-10-04 19:57] matthew-carroll opened #804 "[SuperEditor] - Support inserting newlines in 3rd party components"
In the example app, pressing `enter` within a checklist task has no effect. This is because the editor operation for inserting a newline includes knowledge of what it applies to. Because the `TaskComponent` was added in the `Example` app, and isn't part of `super_editor`, the newline operation doesn't know how to handle it.

There could be any number of new nodes/components that developers add to

[2022-10-05 05:18] matthew-carroll opened #806 "[SuperEditor] - Scroll momentum is broken"
Flutter 3.3.x broke scrolling momentum in `SuperEditor`, where we use a `Listener` widget.

I filed https://github.com/flutter/flutter/issues/112880

[2022-10-05 09:40] abidex4yemi opened #808 "[super_editor] Inserting and deleting custom attributed text"
I'm trying to implement references and footnotes in the editor just like the way Wikipedia has it. The problem I'm having is how to insert and delete inserted footnotes in the editor. I have played around with the insertion but couldn’t figure out the right event to listen to when the user hit the back/delete button in the editor since I need to know deleted character in order to remove the approp

[2022-10-05 10:00] abidex4yemi commented on #808
@matthew-carroll @angelosilvestre Please any idea? thanks.

[2022-10-05 11:30] ramsestom opened #809 "Exception thrown when editing back and forth into a document"
Tested it on android

How to reproduce the issue:
1. Create a SuperEditor with a MutableDocument with some text
[code]
2. click (tap) to put the caret at the end of the document (after the 't' of 'test' in this example)
3. click to put the caret somewhere in the middle of the document (after the 's' of the first word 'This' for example)

alternatively you can

3. put a line break by pressing enter

[2022-10-05 18:30] matthew-carroll commented on #808
Your best bet is to wait for an upcoming refactor to the document editor, which will provide better tools for listening for document changes. I don't think we have a good answer to your question right now. We're planning another release of Super Editor within a week or so, and then we'll be working on merging that editor refactor after that.

You should watch https://github.com/superlistapp/super_

[2022-10-05 20:19] abidex4yemi commented on #808
Thank you @matthew-carroll

[2022-10-05 21:41] jmatth commented on #782
The super_editor team has opened a duplicate issue for this at #806, so I'll close this one.

[2022-10-05 21:41] #782 closed

[2022-10-05 23:38] angelosilvestre commented on #793
@abidex4yemi Can you try again on the lastest main? Please add a minimal reproducible example if the problem persists.

[2022-10-05 23:50] angelosilvestre opened #811 "[SuperEditor] [ExampleApp] Transparent AppBar blocks gestures"
Steps to reproduce:

1. Run the example editor demo
2. Press Ctrl+A to select all the content
3. Press Backspace to delete all the content
4. Type two paragraphs
5. Tap on the first paragraph

Expected result: The caret is placed in the first paragraph.
Actual result: The caret doesn't change.

The cause seems to be that the example app includes a transparent `AppBar` and the editor is being displ

[2022-10-06 00:52] #741 closed

[2022-10-06 00:53] EugenePisotsky opened #812 "Scroll jumps to the image on selection"
Scroll jumps to the image when there's a big one inside the content that I'm trying to select. I tried it on the current master branch (macos desktop)

![2022-10-06 03 46 59](https://user-images.githubusercontent.com/5047628/194189198-fe9bf22a-1c62-4a83-b281-fb135e5556f5.gif)

[2022-10-06 05:00] #795 closed

[2022-10-07 01:39] #588 closed

[2022-10-07 02:34] #740 closed

[2022-10-07 09:33] abidex4yemi commented on #793
@angelosilvestre Yes, I did change it to the main branch but still experiencing the same problem.

[2022-10-07 22:34] angelosilvestre commented on #793
@abidex4yemi Could you please share a minimal reproducible example? I couldn't reproduce the issues you mentioned.

[2022-10-07 23:35] #794 closed

[2022-10-09 18:48] angelosilvestre commented on #781
@Mijawel Could you please try again on the latest main and see if the issue is still happening? I tried your example but I couldn't reproduce the issue.

[2022-10-09 23:50] domesticmouse opened #814 "[super_text_editor] Text editing on `iOS` causes text to scroll up on key entry"
I now have my [`super_text_editor_testing`](https://github.com/domesticmouse/super_text_editor_testing) running on iOS. However, when entering text, the text scrolls upwards on each keypress. Can we stop the gratuitous scrolling please? Thanks!

https://user-images.githubusercontent.com/30503/194784993-652b3c27-fb40-45ca-8524-8b16f7a34c3f.mp4

[2022-10-10 00:00] domesticmouse opened #815 "[SuperEditor][SuperTextField] - Control IME character conversion"
In running [`super_text_editor_testing`](https://github.com/domesticmouse/super_text_editor_testing) on iOS I notice that iOS automagically converts `"` to opening double quote `“`. It'd be a nice feature to be able to turn off this conversion for specific usecases (like editing code, say).

<img src="https://user-images.githubusercontent.com/30503/194785367-9edb0be7-fa47-4aa6-9920-dcb2a79e94c3.pn

[2022-10-10 01:39] matthew-carroll commented on #814
@angelosilvestre please take a look at this and see if we can fix whatever this viewport issue might be.

[2022-10-10 08:28] roughike opened #816 "Feature request: Expose AutoScrollController and allow manually enabling/disabling auto scrolling"
## Background
We're using SuperEditor for multi-user document collaboration.

One of the pieces that makes this work is _selection transformation_. Here's how document collaboration looks like without and with selection transformation:

### Without selection transformation
https://user-images.githubusercontent.com/13744304/194820924-84f9d22b-495c-46c5-bfaa-144ca65d3480.mov

### With selection tran

[2022-10-10 09:33] transcendr opened #817 "Can't move caret by swiping on spacebar (Gboard)"
Normally when using Gboard you can swipe your finger backward and forward across the length of the spacebar to move the caret backwards and forwards in a precise manner from it's current position.  This doesn't appear to work, along with another gesture, swipe left on the delete key to delete whole words.

[2022-10-10 09:46] transcendr opened #818 "Cut/Copy/Paste Toolbar Dismissal"
After using any of these actions, the toolbar remains visible and an additional click on the document is required in order to dismiss it. Expected behavior would be that the toolbar is dismissed as soon as one of the actions is pressed.

[2022-10-11 00:36] matthew-carroll commented on #812
@EugenePisotsky I'm not sure what you're expecting to happen. What do you think Super Editor should do when selecting a large image?

[2022-10-11 00:38] matthew-carroll commented on #801
I merged in a PR addressing issues I found that weren't blocked by Flutter. I'm going to close this ticket. We have another ticket at #806 to deal with a scrolling momentum bug from Flutter 3.3.3.

[2022-10-11 00:38] #801 closed

[2022-10-11 00:40] matthew-carroll commented on #809
Are you using the latest version of `super_editor` from GitHub, or from pub.dev?

[2022-10-11 06:05] EugenePisotsky commented on #812
@matthew-carroll I think it should select the image it but not scroll to it. Here's a better example and the comparison with the native editor (left is native, right is supereditor): https://www.youtube.com/watch?v=zr5liW_aoaE

[2022-10-11 06:22] hillelcoren commented on #801
Where is the 3.4.x-beta ImeAttributedTextEditingController error being tracked? #792 is closed but I'm still seeing this error.

[2022-10-11 19:09] matthew-carroll commented on #816
@roughike can you elaborate on why User B's actions would impact User A's scroll position at all? User B's selection is stored somewhere completely different, right?

[2022-10-11 20:51] matthew-carroll commented on #801
Since that breaking change ended up in 3.4 instead of 3.3.3, I'll re-open the other ticket.

[2022-10-11 20:51] matthew-carroll commented on #792
I'm re-opening this ticket because the problem is 3.4 and not 3.3.3, and 3.4 isn't stable yet.

[2022-10-11 23:01] angelosilvestre commented on #814
@domesticmouse Is there any step needed to reproduce this issue? I tried in both android and iOS and can't reproduce it.

[2022-10-11 23:07] angelosilvestre commented on #791
This seems to be a Flutter bug.
I filed https://github.com/flutter/flutter/issues/113253

[2022-10-12 12:12] roughike commented on #816
Hey @matthew-carroll!

In order to answer your question, let me first explain "document selection transformation". **Every time any client gets remote changes, they have to update their document selection**. Without it, collaboration would not work.

In a nutshell, here's what would happen if User A's changes to the document didn't affect User B's selection:
1. User A and User B have document open

[2022-10-12 19:07] matthew-carroll commented on #816
@miguelcmedeiros brought this up on our call today. I mentioned that there might be a path here that solves the problem without having clients intervene with the standard behavior.

What we can do is introduce a "reason" for every selection change. That reason can either be something like "user intervention" and "reaction" and we can adjust the document interactor to only auto-scroll for "user int

[2022-10-12 20:05] #811 closed

[2022-10-12 21:01] matthew-carroll opened #823 "[SuperEditor] - Add stylesheet support for text alignment"
Text alignment in `SuperEditor` can be controlled with `metadata` on a `TextNode`, but there's no way to control text alignment from a `Stylesheet`.

As a developer, I'd like to adjust text alignment based on the type of block. Example:

[code]

This then begs the question, what happens when `metadata` conflicts with a `Stylesheet`? My initial thought is that a `Stylesheet` is applied on top of no

[2022-10-12 21:12] #806 closed

[2022-10-12 21:13] matthew-carroll opened #824 "[SuperEditor] - Stop scrolling on single finger touch trackpad"
When a scrollable is scrolling with momentum, the user should be able to place a single finger on a trackpad to stop the scrolling momentum.

Apparently, an addition to Flutter 3.4 will provide an event to cancel scrolling when that happens, but that signal doesn't exist in Flutter 3.3.3: https://github.com/flutter/flutter/issues/112880#issuecomment-1276739090

When Flutter 3.4 reaches stable, int

[2022-10-12 21:17] matthew-carroll opened #825 "[SuperEditor] - Define constants for every stylesheet property"
Currently, `StyleRule`s define style properties as key/value pairs, and the keys are hardcoded strings.

Those hardcoded strings should be moved to constants so that developers can easily determine what's supported, and avoid typos.

This will be a breaking change.

[2022-10-13 00:00] #753 closed

[2022-10-13 00:57] #823 closed

[2022-10-13 12:36] roughike commented on #816
@matthew-carroll That would work for us as well.

[2022-10-13 15:26] domesticmouse commented on #814
Ok, this is no longer reproducing for me.

Should I raise a new feature request for mapping smart quotes to dumb quotes?

[2022-10-13 15:26] #814 closed

[2022-10-13 20:25] matthew-carroll commented on #814
Didn't you already file that?

[2022-10-14 15:12] transcendr opened #828 "Web/Desktop - No Special Character menu on long presses (working on mobile)"
When long pressing a key, it should bring up a menu with optional special characters, for example long pressing `a` to get `á`. On web and desktop this results in the character being repeating while on mobile and tablet, it works as expected.

![image](https://user-images.githubusercontent.com/37011672/195881282-5b9e983a-c012-4774-8e85-c9c65a75a307.png)

[2022-10-14 23:04] matthew-carroll opened #829 "[super_editor_markdown] - Allow custom serialization and deserialization"
`super_editor_markdown` supports parsing and serializing standard Markdown syntax. This is sufficient for typical prose document content. However, the standard Markdown syntax is not sufficient for all nodes in a document.

Consider a blog post. We'd like for `SuperReader` to render the entire post, from top to bottom, so that users can select all content continuously. That blog post might display

[2022-10-15 15:03] eswarm opened #831 "Line spacing is different when editing in the super editor vs showing the text by default"
I am running the demo_markdown_serialization.dart from the example and I have slightly edited the text.

If for e.g we are showing the following the text.

`Cras vitae sodales nisi. \nVivamus dignissim vel purus vel aliquet.
`

If shows up as below, which is as expected.

<img width="1792" alt="Screenshot 2022-10-15 at 8 27 00 PM" src="https://user-images.githubusercontent.com/381511/195993260-b91

[2022-10-16 01:55] matthew-carroll opened #832 "[SuperEditor, SuperReader] - Make it possible to respond to user taps on links"
`SuperEditor` and `SuperReader` can decorate `LinkAttribution`s but there's no way to launch URLs when the user taps on them. Make this possible.

The reader experience should be capable of standard tap-to-launch behavior.

The editor experience should be capable of `CMD+tap` to launch.

[2022-10-17 21:29] matthew-carroll commented on #781
We haven't received any clarification to our questions in over two weeks. I'm going to close this ticket. If the issues persists, please open a new ticket with appropriate reproduction steps and description.

[2022-10-17 21:29] #781 closed

[2022-10-17 21:33] #829 closed

[2022-10-17 21:42] matthew-carroll commented on #831
@eswarm - What you're showing looks like expected behavior to me.

Can you describe what you expected to happen when you pressed `enter` and created a new paragraph?

If you want to insert a newline within an existing paragraph then you need to press a shortcut. I think it's `alt + enter` or maybe `shift + enter`. In any event, there's a key combination for that.

[2022-10-17 21:44] matthew-carroll commented on #809
@ramsestom - can you please answer my question above?

[2022-10-17 22:29] ramsestom commented on #809
I am using the latest version from pub.dev (super_editor 0.2.2)

[2022-10-17 23:19] matthew-carroll commented on #809
@ramsestom can you try again on `main`, please? The pub version is far behind our `main` branch.

[2022-10-18 00:42] matthew-carroll opened #836 "[SuperEditor][SuperTextField] - Implement new performSelector IME method"
We added a no-op declaration for `performSelector` when Flutter 3.3.4 was in Beta. We did this so that developers could begin to work with `super_editor` on Beta. However, we left the implementation as a no-op (https://github.com/superlistapp/super_editor/pull/835).

Once Flutter 3.3.4 moves to Stable, implement the appropriate behavior for `performSelector`.

[2022-10-18 01:18] #792 closed

[2022-10-18 01:29] angelosilvestre commented on #836
Now that `TextInputClient` is a mixin (https://github.com/flutter/flutter/pull/104291), we should consider changing `SuperEditor` to mix it instead of implementing it, to avoid breaking the build when a new method is added to `TextInputClient`.

This, however, could cause the editor to break silently.

[2022-10-18 10:29] EugenePisotsky commented on #812
upd. the problem is not an image, but a big caret

[2022-10-19 22:40] angelosilvestre opened #838 "[DemoApp] Clicking at a dropdown button closes the toolbar"
## Steps to Reproduce

1. Run the demo app
2. Double click to select a word
3. Click on the text alignment button

**Expected results:** The dropdown menu is displayed

**Actual results:** The toolbar is hidden and shown again.

This happens with `DocumentInputSource.keyboard`.

This seems to be introduced in https://github.com/superlistapp/super_editor/pull/807 with these lines:

https://github.c

[2022-10-20 03:23] matthew-carroll commented on #838
Those lines look correct. The question is why are we losing focus when interacting with the toolbar. I'm pretty sure we've discussed this before. The dropdown popup displays in its own route, which adds a new `FocusNode` that we can't reparent into `SuperEditor`'s focus tree.

I'm not sure if the Flutter team will ever change this, so the path forward is probably to use `follow_the_leader` to impl

[2022-10-20 03:43] matthew-carroll commented on #793
@abidex4yemi I ran the example app on our `main` branch on my iPhone 7. I didn't notice any issues with the toolbar. We'll need additional information to reproduce the issue that you're experiencing.

![Screen Shot 2022-10-19 at 8 41 17 PM](https://user-images.githubusercontent.com/7259036/196851311-d3885b27-5be7-4a6d-acdf-7efcda9b2271.png)

[2022-10-20 22:23] angelosilvestre commented on #838
This issue is a duplicate of https://github.com/superlistapp/super_editor/issues/731. I'm going to close this.

[2022-10-20 22:23] #838 closed

[2022-10-22 07:59] eswarm commented on #831
@matthew-carroll  Thought I was missing something obvious, yes I was assuming enter to create a new line instead of a paragraph. The current markdown editor is github is doing the same as is Obsidian(They are just the ones I have on my system currently).  Is there a way to override this behavior ?

[2022-10-22 08:15] matthew-carroll commented on #831
You can override the default list of keyboard shortcuts for physical keyboards and take the desired action. For IME input, I'm not sure if we have an override for the action button or not, but we might. I'd take a look at the `SuperEditor` property list.

I'm going to close this issue because it sounds like `SuperEditor` is operating as intended. If you find behaviors that are hard coded and can't

[2022-10-22 08:15] #831 closed

[2022-10-22 17:44] eswarm commented on #831
Thanks @matthew-carroll

For anyone who is stumbling upon this the behaviour to override for keyboard would be in the constructor, override the keyboardActions with your own set of defaults. In my case I just removed shiftEnterToInsertNewlineInBlock, enterToInsertBlockNewline and created a new one which just creates a newline when you press enter key.

[2022-10-24 01:30] Mijawel commented on #751
I recently updated my fork to the latest main commit (while retaining the caching mutable document and textStyleBuilder changes). I'm now getting lots lag on medium-to-large documents again (which doesn't appear on your branch).

Any idea what happened?

The reason I am trying to update is that when changing text formatting (e.g. selecting text, and pressing ctrl-b to bold), the formatting only ap

[2022-10-24 01:32] matthew-carroll commented on #751
@angelosilvestre can you look into this issue?

[2022-10-26 00:18] Mijawel commented on #751
Ok. It seems to be that the issue is confined to solely very large nodes on the latest commit that I checked, which is much less of problem.

[2022-10-26 00:18] Mijawel commented on #751
Ok. It seems to be that the issue is confined to solely very large nodes on the latest commit that I checked, which is much less of problem.

[2022-10-26 13:41] Mijawel commented on #751
My bad. The issue still seems to appear for me on the latest commit.

Initializing a doc like this gets me some pretty major lag.

[code]

[2022-10-26 21:26] matthew-carroll commented on #751
Thanks @Mijawel. Angelo is working on some improvements for this. He's found at least a couple issues that we need to solve. Let's circle back and see how the performance looks for you when Angelo has a PR up with those fixes.

[2022-10-29 05:08] matthew-carroll opened #840 "[SuperEditor] - switch TextInputClient implementations to use "with" instead of "implements""
We've implemented `TextInputClient` in a number of places. We `implements` the interface, because the interface is a fundamental contract between all platforms, Flutter, and Flutter apps about how text is edited. As such, it's important to implement all responsibilities.

Unfortunately, Flutter has established a pattern of throwing new methods into this interface that don't belong there. As a resu

[2022-10-29 15:56] angelosilvestre commented on #840
@matthew-carroll  I think there is something missing in Flutter.

`DeltaTextInputClient` is declared as `implements TextInputClient`. When declaring the IME interactor as `with DeltaTextInputClient` we still need to implement all the methods of `TextInputClient`, even those with default stub implementations.

For example, I tried removing the implementation of `showToolbar` (it has a default imple

[2022-10-29 21:46] matthew-carroll commented on #840
Can you file an issue with Flutter?

[2022-10-30 09:25] Jei-sKappa opened #841 ""Bad State: No Element" Exception when pasting text"
While testing the editor I noticed a bug when pasting text.
Steps to reproduce:
- Run the example app
- Add "some" empty nodes (see the video, it occurred not only with those lines)
- Select all text (in my case with CMD+A)
- Copy it
- Paste it at the bottom

https://user-images.githubusercontent.com/46776108/198871484-f296ac1a-b581-4082-8240-d20d8fa22013.mov

The error output is:
[code]

[2022-10-31 12:12] knopp opened #842 "SuperTextField doesn't work if FocusNode is already focused."
We have a use-case where SuperTextField replaces another widget, re-using the focus node. When the focus node is already focused, text-input doesn't work. The reason is controller selection being initialized in `SuperDesktopTextFieldState._onFocusChange`, but that function is not called since the node is already focused when state is initialized.

[Changing the initialisation logic slightly](https

[2022-11-01 13:15] knopp commented on #842
I added PR for desktop. The fix for mobile seems to be more involved and I'm not very familiar with the codebase.

[2022-11-01 23:38] #840 closed

[2022-11-02 22:49] matthew-carroll opened #845 "[SuperEditor][SuperTextField] - Try new FocusNode parenting ability"
@gspencergoog made a change to `FocusNode` parenting that will hopefully allow us to get rid of our custom focus parenting.

Try his change referenced here: https://github.com/flutter/flutter/issues/106923#issuecomment-1283133843

Report back with any issues or limitations.

[2022-11-02 22:50] matthew-carroll commented on #842
@angelosilvestre let's have you take this over and implement the mobile adjustments

[2022-11-02 22:51] matthew-carroll commented on #841
@angelosilvestre can you take a look at this?

[2022-11-02 23:26] #751 closed

[2022-11-03 21:59] matthew-carroll opened #847 "[SuperEditor] - Add a "reason" for selection changes"
A document selection might change because the user directly interacts with the selection, e.g., clicks and drags, or drags a handle. Or, a document selection might change because of background work, e.g., a multiplayer user deletes a character, which causes the primary user's selection to contract by one character.

When the user's selection changes for reasons beyond the user's interaction, we do

[2022-11-03 21:59] matthew-carroll commented on #816
I'm closing this ticket in favor of a new ticket focused on selection reasons: https://github.com/superlistapp/super_editor/issues/847

[2022-11-03 21:59] #816 closed

[2022-11-05 07:09] #841 closed

[2022-11-06 01:43] matthew-carroll opened #850 "[SuperEditor][SuperReader] - Make it easy to change styles based on form factor"
Margins, padding, and text sizes often need to change based on the form factor and/or size of the screen.

We should make it easy to control stylesheet styles based on screen size and/or form factor.

Ideally, we don't want to get in the business of dictating which characteristics developers can use to change styles. In other words, screen size is an example of a reason to change styles, but there

[2022-11-06 01:56] matthew-carroll opened #851 "[SuperEditor][SuperReader] - add image size awareness"
When loading images in a document, it's nice to know the size of the image being loaded, so that the image widget can take up the final amount of space before the image is loaded. That way, the content in the document doesn't "jump" when the image appears.

Add the relevant capabilities to do this. That includes relevant markdown parsing, node properties, and component behavior. The size should be

[2022-11-07 05:51] DavidMulder0 opened #852 "(Windows) IME support completely broken?"
As far as I can tell at least the web demo doesn't work at all with anything except a non-disabled person's western input

- Voice Typing input (windows + H key) is broken
- IME input (change language to e.g. japanese + hiragana) is broken
- Emoji input (windows + dot key) is broken

As someone who had to deal with supporting these in a web native editor (I tend to periodically check new document

[2022-11-07 09:29] abidex4yemi commented on #808
@matthew-carroll Please any update on this, thanks.

[2022-11-07 09:32] matthew-carroll commented on #808
I expect for us to start our round of breaking changes within the week. We hit a snag because Flutter broke us in two different places recently. As soon as we get that ironed out, we'll start merging our big updates.

[2022-11-07 15:50] ramsestom commented on #809
@matthew-carroll I tested with the main branch from github, as requested, and the problem is exactly the same.

[2022-11-07 20:55] abidex4yemi commented on #808
Thank you for the update.

[2022-11-07 21:37] matthew-carroll commented on #809
@angelosilvestre can you take a look at this?

[2022-11-08 23:42] angelosilvestre commented on #809
@matthew-carroll Analyzing the logs, this seems to be the same issue of https://github.com/superlistapp/super_editor/issues/791

[2022-11-09 20:27] matthew-carroll commented on #809
Ok. I'm going to close this in favor of #791. @ramsestom if this issue continues after the resolution of #791, please open a new ticket.

[2022-11-09 20:27] #809 closed

[2022-11-10 12:43] abidex4yemi opened #859 "[super_editor] how to get editor content height"
@matthew-carroll I'm trying to implement an expandable view if the content of the editor is more than 300 in terms of height and gives the user a button to expand the container height to see full content of the editor, is this currently possible with super_editor? @angelosilvestre please any idea? I think there are similarities with this opened [image awareness capability](https://github.com/super

[2022-11-10 15:28] angelosilvestre commented on #859
@abidex4yemi To get the size you can assign a global key to the editor and then get its buildcontext by the key as a renderbox. You should be able to call `getDryLayout` to calculate the size. Note that the RenderBox won't be available on the first build. I'm not sure this will be sufficient for you.

You might need to use a custom `RenderObject` to wrap the editor. That way you can get the size o

[2022-11-10 18:43] abidex4yemi commented on #859
Thank you for the suggestions, I will try it out and get back to you.

[2022-11-11 10:52] abidex4yemi commented on #859
@angelosilvestre I tried the above suggestions but I'm always getting the same height values (389.77) which seems to be the editor’s height and not it's content height.

[2022-11-11 13:09] angelosilvestre commented on #859
To get the correct content size you will need to pass a globalkey to
documentLayoutKey instead of the editor key.

Em sex., 11 de nov. de 2022 07:53, Yemi ***@***.***> escreveu:

[2022-11-11 20:44] Jethro87 opened #861 "[SuperEditor][SuperReader] Showing custom hint text"
I'm currently saving documents in my database as JSON. Here's an example:

[code]

I'm able to take the above and turn it into a `MutableDocument` as such:

[code]

However, I would like to be able to pass the `hintText` string in each JSON `data` object to various super_editor nodes, such as `ParagraphNode`, `ListItemNode`, `TaskNode`, something like this:

[code]

The `hintText` would appear to

[2022-11-11 21:59] matthew-carroll commented on #861
I think one approach would be:

When you parse your JSON, add the hint for each paragraph to the `ParagraphNode`s metadata.

Define a `ParagraphWithHintComponentViewModel`, which extends `ParagraphComponentViewModel`, and add a `hintText` property.

Define a custom `ComponentBuilder` and configure the component with the paragraph's hint.

[code]

Add your custom component builder to the priority l

[2022-11-12 17:40] Jethro87 commented on #861
@matthew-carroll Thanks so much! That worked well. I'll close this.

[2022-11-12 17:40] #861 closed

[2022-11-12 18:31] angelosilvestre commented on #845
Testing the toolbar, replacing the `FocusWithCustomParent` of the url field with a `Focus` with the new `parentNode` property seems to work correctly.

However, the `DropDownButton` seems to be stealing the focus.

I posted a code sample here: https://github.com/flutter/flutter/issues/106923#issuecomment-1304603937

[2022-11-16 17:28] Jethro87 opened #862 "[SuperEditor] Bug: Showing a bottom sheet with the keyboard down raises the keyboard when sheet is dismissed"
When the keyboard is down in a super_editor document, and a bottom sheet is shown, upon dismissal of the bottom sheet, the keyboard automatically raises. I would expect the keyboard to stay down upon the dismissal of the sheet.

Here's what this looks like:

https://user-images.githubusercontent.com/6467808/202250408-f4881edd-eb04-41ca-985b-3e79e709f111.MP4

If instead, a bottom sheet is shown whe

[2022-11-16 18:25] knopp commented on #842
Is there any update on this?

[2022-11-16 21:53] matthew-carroll commented on #842
I thought this was fixed. @angelosilvestre did we merge the fix for this, or am I misremembering?

[2022-11-16 21:55] angelosilvestre commented on #842
The fix was already merged and cherry-picked to stable.

[2022-11-16 21:58] angelosilvestre commented on #842
This was fixed in https://github.com/superlistapp/super_editor/pull/846

[2022-11-16 21:58] #842 closed

[2022-11-16 22:10] matthew-carroll commented on #859
@abidex4yemi did Angelo's most recent comment solve your problem?

[2022-11-16 22:14] matthew-carroll commented on #852
@DavidMulder0 thanks for the info. I think at the moment these items are a non-priority for us. We've had relatively few web users, and only a portion of those are on Windows. Of those issues, I would guess the priority order is:

1. Emoji input
2. Voice typing
3. Other languages

If there are any companies that would like to fund this work, we could make it a higher priority. In the absence of fu

[2022-11-16 22:18] matthew-carroll commented on #793
@abidex4yemi do you have any further information about reproduction steps for us to debug this?

[2022-11-17 07:38] abidex4yemi commented on #859
@matthew-carroll Thanks for the follow ups, I'm able to get the content height using @angelosilvestre suggestions but only after it has render the editor and the other issue is that I can't seem to set a new height with the calculated value, the editor ignores the new value.

[2022-11-17 07:57] abidex4yemi commented on #793
I'm having two major issues now, the `copy` and `cut` options of the toolbar are not working. Also, I can't scroll to see the bottom of the editor when the keyboard is up, I started experiencing all these issues after removing the `MaterialApp` from the root of the editor, see attachment.
![IMG_73A39F7C6219-1](https://user-images.githubusercontent.com/23571838/202387763-e01e4877-967c-428a-9d45-ebc

[2022-11-17 08:13] matthew-carroll commented on #859
@abidex4yemi to understand what you mean when you say "only after it has render the editor" and "the editor ignores the new value", please post the relevant code that demonstrates these issues. That could mean many things.

[2022-11-17 08:15] matthew-carroll commented on #793
@abidex4yemi - To get to the bottom of any issues, it's important that we stay focused on the problem at hand. First, does your original problem still exist, or no? Second, if you're running into additional problems, please file tickets for those problems, and please include the code that we need to run to replicate those problems on our end.

[2022-11-17 08:29] abidex4yemi commented on #793
@matthew-carroll Yes, the behaviors have changed, the toolbar now covers selected text(offset not working correctly), and clicking on copy or cut doesn’t close the toolbar.

[2022-11-17 10:22] matthew-carroll commented on #793
Copy and cut functionality is probably an independent issue, and should be handled as such.

As for your toolbar positioning problems, we still need some way to reproduce this problem. We've tried a number of times to recreate the problem that you're experiencing, but we've been unable to do so. We're going to need some kind of information that we can act upon.

Also, you mentioned that you remove

[2022-11-20 23:37] #847 closed

[2022-11-21 04:35] vnniz opened #865 "[SuperEditorMarkdown] Alignment for the header text"
When using the `SuperEditorMarkdown` with `MarkdownSyntax.superEditor`, it can only save the alignment for the Paragraph (only `p` tag), I think that it would be nicer if it also supports the header text. I know that we can write a custom serializer to do it but I think it should be implemented by default to be compatible with the `SuperEditor`.

[2022-11-22 01:07] angelosilvestre commented on #862
@Jethro87 This seems to be the same behavior as Flutter's `TextField`.

To prevent this, you need to release the focus before showing the sheet:

[code]

[2022-11-22 18:11] Jethro87 commented on #862
@angelosilvestre This resolved the issue. Thanks!

[2022-11-22 18:11] #862 closed

[2022-11-25 10:57] canakinn opened #868 "'RenderEditable.previousCharacter' and 'RenderEditable.nextCharacter' problems"
hello
For Android and iOS platforms

![Ekran Resmi 2022-11-25 13 58 15](https://user-images.githubusercontent.com/92026913/203969275-8a5cc259-f7da-4eba-8f1d-345aa994b1e0.png)

i still have this problem how do i fix it

[2022-11-25 11:06] canakinn commented on #868
I solved the problem, I realized it by chance after I opened the topic.

i don't know how super_editor: uploaded to pubspeck as ^0.1.0 super_editor: fixed as ^0.2.3+1 and it works

[2022-11-25 11:06] #868 closed

[2022-11-25 17:53] darkCavalier11 opened #869 "Issue running the app locally"
Multiple static issues found on code while running locally

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 3.0.5, on macOS 13.0.1 22A400 darwin-arm, locale
    en-IN)
[✓] Android toolchain - develop for Android devices (Android SDK version 33.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 14.0)
[✓] Chrome - develop for the web
[✓] Android Studio (versio

[2022-11-25 22:40] angelosilvestre commented on #869
@darkCavalier11 Could you please try to run it using the stable branch?

The main branch targets flutter master branch.

[2022-11-25 22:47] angelosilvestre commented on #869
Also, do you need to use Flutter 3.0 or could you update to 3.3?

[2022-11-26 08:14] darkCavalier11 commented on #869
@angelosilvestre working now, Thanks!

[2022-11-26 08:14] #869 closed

[2022-11-29 16:17] darkCavalier11 commented on #746
@matthew-carroll the expected behaviour, that is converting a URL to link is it like the Editor will now detect a pice of text and convert it to url if it suits the characteristics of a link
like typing `t.me/abc` should automatically parse it as a link and have link behaviour.

[2022-11-29 19:02] transcendr opened #871 "Single Line Breaks are Removed Between Paragraphs on Paste"
When pasting multiple paragraphs into a document and when there is a single line break in between each paragraph, upon paste, the line breaks are removed. However, if there are two or more line breaks between paragraphs, all line breaks except one are removed.

<img width="613" alt="Screenshot 2022-11-29 at 19 34 15" src="https://user-images.githubusercontent.com/37011672/204616747-6948213f-60ae-4

[2022-11-29 20:08] transcendr opened #872 "Improper cursor placement on multi-hierarchical bullet lists"
When you add a second level of bullets, the cursor starts at the beginning of the line instead of after the bullet.  Only after you begin typing again will the cursor snap back into place.

https://user-images.githubusercontent.com/37011672/204637114-5601d515-2247-44ef-a1b0-3fc6bde67c73.mp4

[2022-11-29 20:36] transcendr opened #873 "Mouse Scrolling Highlights Text and Depends on Mouse Position (Mac OS only)"
We are seeing this behavior with our SE implementation on the Mac OS platform only.  Depending on the position of the mouse, the document can be scrolled only so far with the mouse scroll wheel (or track pad).  If you position the mouse in the middle of the document, the document will not scroll up or down. It will only go up or down if the mouse is placed sufficiently close to the upper or lower

[2022-11-29 22:24] matthew-carroll commented on #746
@darkCavalier11 I'm not sure I understand your comment. Can you rephrase it? Are you saying that this ticket should be closed? Or are you adding new details to the stated problem?

[2022-11-30 12:45] transcendr commented on #793
If I may, the toolbar dismissal issue has a separate issue #818 with a potential fix in a draft PR.

[2022-11-30 15:51] vursin commented on #865
@darkCavalier11 when you `serializeDocumentToMarkdown(doc)` and `deserializeMarkdownToDocument(markdown)`, all the header alignments will be reset to the left alignment.

In the related code of the serialization below, there is no code that converts the header alignments to Markdown:
https://github.com/superlistapp/super_editor/blob/6c95044e7f83a43fc83d51ab0db313562b77ce6b/super_editor_markdown/li

[2022-11-30 16:46] darkCavalier11 commented on #746
Yeah, i want to know more details to work on this if possibl
@matthew-carroll

[2022-11-30 21:51] matthew-carroll commented on #746
This ticket is currently blocked by our work to switch to atomic commands. Atomic commands are going through a PR right now.